<div *ngIf="disabled"
  class="floating-button"
>
  <p-button icon="pi pi-chart-line" [rounded]="true" size="large" [severity]="'secondary'" [disabled]="disabled"/>
</div>

<div *ngIf="!disabled"
  class="floating-button"
  [ngStyle]="{'outline': onClickButton ? '2px solid gray' : '', 'border-radius': '75%'}"
>
  <p-button icon="pi pi-chart-line" [rounded]="true" size="large" [severity]="'secondary'" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (onClick)="onClickButton = !onClickButton;"/>
</div>

<div
  class="animated-modal"
  [class.show]="isHovering || onClickButton"
>
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <h2>Gráfico Interactivo</h2>
    <i class="pi pi-times" style="cursor: pointer;" (click)="onClickButton = false;"></i>
  </div>

  <p-chart #chart type="line" [data]="data" [options]="options" />
</div>

<div *ngIf="isHovering || onClickButton" class="blur" (click)="onClickButton = false;"></div>
