.floating-button {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 1001;

  border: 1px solid lightgray;
  border-radius: 50%;
}

.animated-modal {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  // height: calc(100% - 96px);
  height: fit-content;
  background-color: white;
  z-index: 1000;
  transition: top 0.4s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 1rem;

  &.show {
    top: 0;
  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;

  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-blur
{
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 515px;
  backdrop-filter: blur(10px);
  z-index: 1002;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}