<div *ngIf="disabled"
  class="floating-button"
>
  <p-button icon="pi pi-chart-line" [rounded]="true" size="large" [severity]="'secondary'" [disabled]="disabled"/>
</div>

<div *ngIf="!disabled"
  class="floating-button"
  [ngStyle]="{'outline': onClickButton ? '2px solid gray' : '', 'border-radius': '75%'}"
>
  <p-button icon="pi pi-chart-line" [rounded]="true" size="large" [severity]="'secondary'" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (onClick)="onClickButton = !onClickButton;"/>
</div>

<div class="animated-modal" [class.show]="isHovering || onClickButton">

  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <h2>Gráfico Interactivo</h2>
    <p-selectbutton [options]="hoursOptions" [(ngModel)]="selectedHoursOption" optionLabel="label" optionValue="value" aria-labelledby="basic" (onChange)="onChangeHoursSelectButton($event)"/>
    <i class="pi pi-times" style="cursor: pointer" [ngStyle]="{'visibility': onClickButton ? 'visible' : 'hidden'}" (click)="onClickButton = false;"></i>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%;">
    <p-button label="Resetear curvas" icon="pi pi-times" [rounded]="true" size="small" [severity]="'secondary'" (onClick)="resetLabelStates();" [disabled]="selectedCurves.size == 0"/>
  </div>

  <p-chart #chart type="line" [data]="data" [options]="options" />
  <div *ngIf="isGraphLoading && (isHovering || onClickButton)" class="loading-blur">
    <p-progress-spinner *ngIf="isGraphLoading" />
  </div>

  <div *ngIf="groupBy.length > 0" style="width: 100%; height: 1px; background-color: gray; opacity: 0.5; margin: 16px 0px;"></div>

  <div *ngIf="groupBy.length > 0" style="display: flex; flex-direction: column; gap: 8px;">
    <div class="font-20 font-w-600">Agrupaciones</div>
    <p-multiselect [options]="groupBy" [ngModel]="selectedGroupBy" placeholder="Sin agrupar" [maxSelectedLabels]="2" appendTo="body" [ngStyle]="{'width': '250px'}" (onChange)="onChangeGraphGroupBy($event);" (onPanelHide)="emitGraphGroupByEvent();" [disabled]="isGraphLoading" />
  </div>

  <div *ngIf="groupBy.length > 0" style="width: 100%; height: 1px; background-color: gray; opacity: 0.5; margin: 16px 0px;"></div>

  <div *ngIf="groupBy.length > 0" style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
    <div *ngFor="let selectedDimension of selectedGroupBy;" style="display: flex; flex-direction: column; gap: 4px;">
      <div class="font-16 font-w-600">{{selectedDimension}}</div>
      <p-multiselect [options]="graphGroupBy.get(selectedDimension)" [ngModel]="groupByChartSelectedMap.get(selectedDimension)" placeholder="Sin agrupar" [maxSelectedLabels]="2" appendTo="body" [ngStyle]="{'width': '250px'}" (onChange)="onChangeGraphFilters($event, selectedDimension);" (onPanelHide)="emitGraphGroupByEvent();" [disabled]="isGraphLoading" />
    </div>
  </div>
</div>

<div *ngIf="isHovering || onClickButton" class="blur" (click)="onClickButton = false;"></div>
