<div class="header-container" [ngClass]="{ 'center-content': router.url === '/login' }"
  [ngStyle]="{ position: router.url === '/login' ? 'fixed' : 'static' }">

  <div *ngIf="router.url !== '/' && router.url !== '/login'" class="font-16 text-white font-w-700 title"
    (click)="onClickNavigateToHome()">
    <i class="pi pi-home"></i>
    <div>Motor de alertado</div>
  </div>

  <div *ngIf="router.url === '/'" class="font-16 text-white font-w-700">
    <div>Motor de alertado</div>
  </div>

  <img class="logo" src="../../../assets/logos/telefonica_logo_2.png" alt="Telefónica" height="60" />

  <div *ngIf="router.url !== '/login'" class="actions-container">
    <a class="action-container text-white" href="https://confluence.tid.es/spaces/VIDEOTOOLS/pages/643827083/Documentaci%C3%B3n+BOLT+Revolution" style="text-decoration:none;" target="_blank" >
      <i class="pi pi-question-circle"></i>
      <div class="font-16 font-w-600">Ayuda</div>
    </a>
    <div class="action-container text-white" (click)="onClickNavigateToUser();">
      <i class="pi pi-user"></i>
      <div class="font-16 font-w-600">{{authService.getSub()}}</div>
    </div>
    <div *ngIf="canSeeConfig" class="action-container config-wrapper" (click)="toggleConfigMenu($event)">
      <i class="pi pi-cog"></i>
      <div class="font-16 font-w-600">Configuración</div>
      <i class="pi" [ngClass]="{ 'pi-chevron-up': showConfigMenu, 'pi-chevron-down': !showConfigMenu }"></i>

      <div class="config-menu" *ngIf="showConfigMenu" (click)="$event.stopPropagation()" role="menu"
        aria-label="Configuración">
        <div class="config-item" role="menuitem" (click)="goToEndpoints()" *ngIf="isAdmin">
          <i class="pi pi-paperclip"></i>
          <span>Endpoints</span>
        </div>
        <div class="config-item" role="menuitem" (click)="goToUsers()">
          <i class="pi pi-users"></i>
          <span>Usuarios</span>
        </div>
        <div class="separator"></div>
        <!-- Logout -->
        <div class="config-item" (click)="onClickLogout()">
          <i class="pi pi-sign-out"></i>
          <span>Salir</span>
        </div>
      </div>
    </div>
  </div>
</div>