<div class="header-container">
    <div class="font-16 text-white font-w-700 title" (click)="onClickNavigateToHome();">
        <i class="pi pi-home"></i>
        <div>Motor de alertado</div>
    </div>

    <img src="../../../assets/logos/telefonica_logo_2.png" alt="Telefónica" height="60">
    
    <div class="actions-container">
        <div class="action-container text-white">
            <i class="pi pi-cog"></i>
            <div class="font-16 font-w-600">Configuración</div>
        </div>
    </div>
</div>
