<app-page-wrapper>
    <p-button icon="pi pi-arrow-left" label="Volver" variant="text" severity="secondary"
        (onClick)="onClickNavigateToHome()" />

    <div class="modify-alert-container">
        <div class="page-title">
            <div class="font-32 font-w-700">Gestión de alertas <i class="pi pi-refresh {{isLoading ? 'pi-spin' : ''}}" style="font-size: 1.5rem; cursor: pointer;" (click)="getAllAlerts(page, size, null)"></i></div>
            <div>Gestiona las alertas que han sido generadas en el sistema. Ten en cuenta que solo podrás modificar las que has creado o las que pertenecen a algún miembro de tu equipo.</div>
        </div>
    </div>

    <div *ngIf="!isLoading && isError" class="notice">
        <i class="pi pi-info-circle c-blue"></i>
        <div>
            Ha habido un error al obtener la información
        </div>
    </div>

    <div class="filter-container">
        <form [formGroup]="filterForm" style="width: 100%;">
            <p-iconfield *ngIf="!isLoading && !isError" style="width: 100%;">
                <p-inputicon class="pi pi-search" />
                <input style="width: 100%;" formControlName="filterText" type="text" pInputText placeholder="Buscar alertas por nombre o mensaje" />
                <p-inputicon *ngIf="filterTextControl.value && filterTextControl.value != null && filterTextControl.value.length > 0" class="pi pi-times" style="cursor: pointer;" (click)="getAllAlerts(page, size, null); filterTextControl.reset();"/>
            </p-iconfield>
        </form>
        <p-skeleton *ngIf="isLoading && !isError" width="1343px" height="39px" borderRadius="8px" />

        <p-button *ngIf="!isLoading && !isError" icon="pi {{filterPanelOpen ? 'pi-times' : 'pi-filter'}}"
            label="{{filterPanelOpen ? 'Cerrar' : 'Filtrar'}}" [outlined]="true"
            [severity]="filterPanelOpen ? 'danger' : 'primary'" class="outlined-button"
            (onClick)="filterPanelOpen = !filterPanelOpen;" />
        <p-skeleton *ngIf="isLoading && !isError" width="92px" height="39px" borderRadius="8px" />
    </div>

    <div class="accordion-content" [class.open]="filterPanelOpen" [@accordionAnimation]="filterPanelOpen ? 'open' : 'closed'">
        <form *ngIf="filterForm" [formGroup]="filterForm" style="width: 100%;">
            <p-select [ngStyle]="{'width': '100%'}" [options]="servicesList" appendTo="body" formControlName="service" placeholder="Service" />
            <p-select [ngStyle]="{'width': '100%'}" [options]="sourcesList" appendTo="body" formControlName="source" placeholder="Source" />
            <p-select [ngStyle]="{'width': '100%'}" [options]="dataTypesList" appendTo="body" formControlName="dataType" placeholder="Data type" />
            <p-select [ngStyle]="{'width': '100%'}" [options]="categoriesList" appendTo="body" formControlName="category" placeholder="Category" />
        </form>

        <div class="buttons-container">
            <p-button label="Reiniciar filtros" [outlined]="true" (onClick)="clearIndividualFilters()" />
        </div>
    </div>

    <div *ngIf="!isLoading && !isError" class="table-container">
        <p-table *ngIf="alertList.length > 0" class="table" id="dt" #dt [value]="currentAlertList" [size]="'small'" [showGridlines]="true" [stripedRows]="true" [(selection)]="selectedAlerts">
            <ng-template #header>
                <tr>
                    <th class="th-blue" style="width: 4rem; text-align: center;"><p-tableHeaderCheckbox /></th>
                    <th class="th-blue">Id.</th>
                    <th class="th-blue">Nombre</th>
                    <th class="th-blue">Mensaje</th>
                    <th class="th-blue">Creación</th>
                    <th class="th-blue">Severidades</th>
                    <th class="th-blue">Metadatos</th>
                    <th class="th-blue">Endpoints</th>
                    <!-- <th class="th-blue">Última vez</th> -->
                    <!-- <th class="th-blue">Saltos últimas 24h</th> -->
                    <th class="th-blue">Ventana de tiempo</th>
                    <th class="th-blue">Periodicidad</th>
                    <th class="th-blue text" style="text-align: center;" >Estado</th>
                </tr>
            </ng-template>
            <ng-template #body let-alert>
                <tr>
                    <td style="width: 4rem; text-align: center;">
                        <p-tableCheckbox [value]="alert" />
                    </td>
                     <td style="text-align: center;">
                        {{alert.alertId}}
                    </td>
                    <td class="title-container">
                        <div *ngIf="alert.canEdit" [pTooltip]="tooltipContent" tooltipPosition="top" class="name title font-w-600" (click)="onClickGoToEditAlert(alert)">
                            {{alert.alertType == 'simple' || alert.alertType == 'composite' || alert.alertType == 'baseline' ? alert.alertDefinition : alert.name}}
                        </div>
                        <div *ngIf="!alert.canEdit" class="name font-w-500">
                            {{alert.alertType == 'simple' || alert.alertType == 'composite' || alert.alertType == 'baseline' ? alert.alertDefinition : alert.name}}
                        </div>
                        <ng-template #tooltipContent>
                            <div class="text-14">{{alert.alertType == 'simple' || alert.alertType == 'composite' || alert.alertType == 'baseline' ? alert.alertDefinition : alert.name}}</div>
                            <div class="text-14">Agrupaciones: {{alert.groupBy}}</div>
                        </ng-template>
                        <div class="owner-container">
                            <div class="owner text-gray font-w-600">
                                <i class="pi pi-user font-8"></i>
                                <span class="font-12">{{alert.creatorUsername}}</span>
                            </div>

                            <div *ngIf="alert.isOwner" class="owner c-yellow font-w-600">
                                <i class="pi pi-crown font-8"></i>
                                <span class="font-12">propietario</span>
                            </div>

                            <div *ngIf="alert.isTeam" class="owner c-purple font-w-600">
                                <i class="pi pi-users font-8"></i>
                                <span class="font-12">equipo</span>
                            </div>
                        </div>
                    </td>
                    <td class="message-column">
                        <div class="content">
                            <div *ngIf="alert.canEdit" class="cell-flex" (click)="alertMessageEdited = alert; newAlertMessage = alert.alertText;">
                                <span class="cell-text" *ngIf="alertMessageEdited == null || (alertMessageEdited != null && alertMessageEdited.alertId != alert.alertId)" [pTooltip]="alert.alertText" tooltipPosition="top">{{alert.alertText}}</span>
                                <i *ngIf="alertMessageEdited?.alertId != alert.alertId" class="pi pi-pencil cell-icon"></i>
                            </div>
                            <div *ngIf="!alert.canEdit" class="cell-flex">
                                <span class="cell-text" *ngIf="alertMessageEdited == null || (alertMessageEdited != null && alertMessageEdited.alertId != alert.alertId)" [pTooltip]="alert.alertText" tooltipPosition="top">{{alert.alertText}}</span>
                            </div>
                            <textarea style="width: 100%;" *ngIf="alertMessageEdited != null && alertMessageEdited.alertId == alert.alertId" rows="3" cols="30" pTextarea [(ngModel)]="newAlertMessage"></textarea>
                            <div class="save-buttons">
                                <i *ngIf="alertMessageEdited != null && alertMessageEdited.alertId == alert.alertId" class="pi pi-check" style="font-size: 0.75rem; cursor: pointer; color: green;" (click)="alert.alertText = newAlertMessage; alertMessageEdited = null;"></i>
                                <i *ngIf="alertMessageEdited != null && alertMessageEdited.alertId == alert.alertId" class="pi pi-times" style="font-size: 0.75rem; cursor: pointer; color: red;" (click)="alertMessageEdited = null;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="font-12 text-gray">
                        {{alert.relativeTime}}
                    </td>
                    <td>
                        <div (click)="op1.toggle($event)" class="font-12 threshold-button-container font-w-600">
                            {{alert.conditions.length
                            == 1 ? '1 severidad' : alert.conditions.length + ' severidades'}}</div>
                        <p-popover #op1>
                            <div class="popover-container">
                                <div class="font-w-600">Severidades</div>
                                <div class="conditions-container">
                                    <div class="condition-container" *ngFor="let condition of alert.conditions; let i = index;">
                                        <div class="condition-body">
                                            <div class="id-container font-w-600">{{i+1}}</div>
                                            <p-select class="select" size="small" [(ngModel)]="condition.severity"
                                                [options]="severityOptions" optionLabel="label" optionValue="value"
                                                appendTo="body" />
                                            <p-toggleswitch [(ngModel)]="condition.status" />
                                        </div>
                                        <div *ngIf="condition.alertClauses.length > 0" class="clauses-container">
                                            <div class="clause-container" *ngFor="let clause of condition.alertClauses; let j = index;">
                                                <p-select class="select-2" size="small" [(ngModel)]="clause.compOperation"
                                                    [options]="comparationOptions" optionLabel="label" optionValue="value"
                                                    appendTo="body" />
                                                <p-inputnumber size="small" [(ngModel)]="clause.threshold" mode="decimal"
                                                    [minFractionDigits]="0" [maxFractionDigits]="6" />
                                                    <p-button *ngIf="!condition.id && condition.id == null && condition.id == undefined" icon="pi pi-minus" [rounded]="true" [text]="true"
                                                    severity="danger" (onClick)="onClickRemoveSeverity(alert, i);" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <p-button label="Añadir severidad" icon="pi pi-plus" (onClick)="onClickAddSeverity(alert);" severity="secondary" [disabled]="alert.conditions.length == 4" /> -->
                            </div>
                        </p-popover>
                    </td>
                    <td>
                        <div (click)="op2.toggle($event)" class="tag-button-container font-w-600"><i
                                class="pi pi-tag font-12"></i><span
                                class="font-12">{{alert.alertTags.length}}</span></div>
                        <p-popover #op2>
                            <div class="popover-container">
                                <div class="font-w-600">Etiquetas y metadatos</div>
                                <form [formGroup]="tagForm">
                                    <p-floatlabel class="floatlabel" variant="on" size="small">
                                        <input class="input" pInputText id="name" formControlName="name" size="small" />
                                        <label for="name">Nombre *</label>
                                    </p-floatlabel>
                                    <p-floatlabel class="floatlabel" variant="on" size="small">
                                        <input class="input" pInputText id="value" formControlName="value"
                                            size="small" />
                                        <label for="value">Valor *</label>
                                    </p-floatlabel>
                                    <p-button label="Añadir" icon="pi pi-plus" (onClick)="onClickAddTag(alert);"
                                        severity="secondary" [disabled]="!tagForm.valid" />
                                </form>
                                <div class="font-16 font-w-600">Etiquetas añadidas</div>
                                <div *ngIf="alert.alertTags.length == 0" class="font-12 text-gray">Ninguna etiqueta añadida aún</div>
                                <div *ngIf="alert.alertTags.length > 0" class="tags-container">
                                    <div class="tag-container" *ngFor="let alertTag of alert.alertTags; let i = index;">
                                        <i class="pi pi-tag" style="font-size: 0.75rem;"></i>
                                        <div class="font-12">{{alertTag.name + ': ' + alertTag.value}}</div>
                                        <i class="pi pi-times remove-icon" style="font-size: 0.75rem;"
                                            (click)="onClickRemoveTag(alert, i);"></i>
                                    </div>
                                </div>
                            </div>
                        </p-popover>
                    </td>
                    <td>
                        <div *ngIf="alert.endpoints" class="endpoints-container">
                            <div class="font-12 font-w-700">{{alert.endpoints.length}}</div>
                            <div title="{{endpoint.type}}" class="icon" *ngFor="let endpoint of alert.endpoints;" [ngClass]="{'bg-blue': endpoint.type == 'email', 'bg-red': endpoint.type == 'teams', 'bg-yellow': endpoint.type == 'pagerduty', 'bg-green': endpoint.type == 'webhook'}">
                                <i class="pi {{endpoint.type == 'email' ? 'pi-envelope' : endpoint.type == 'teams' ? 'pi-users' : endpoint.type == 'webhook' ? 'pi-external-link' : 'pi-bell'}} font-12 c-clue" [ngClass]="{'c-blue': endpoint.type == 'email', 'c-red': endpoint.type == 'teams', 'c-yellow': endpoint.type == 'pagerduty', 'c-green': endpoint.type == 'webhook'}"></i>
                            </div>
                        </div>
                    </td>
                    <!-- <td class="font-12 text-gray">
                        {{alert.lastTriggered}}
                    </td>
                    <td class="font-12 text-gray">
                        {{alert.triggersLastDay == 1 ? '1 vez' : alert.triggersLastDay + ' veces'}}
                    </td> -->
                    <td>
                        <p-select size="small" [(ngModel)]="alert.evaluationPeriod" [options]="modifyAlertTimeWindowOptions" optionLabel="label" optionValue="value" appendTo="body"/>
                    </td>
                    <td>
                        <p-select size="small" [(ngModel)]="alert.evaluationFrequency" [options]="periodicityOptions" optionLabel="label" optionValue="value" appendTo="body" (onChange)="hasChanges();"/>
                    </td>
                    <td style="text-align: center;">
                        <i *ngIf="alert.status == 'ENABLED'" class="pi pi-verified c-green" [title]="'Alerta activa'"></i>
                        <i *ngIf="alert.status == 'DISABLED'" class="pi pi-verified c-gray" [title]="'Alerta desactivada'"></i>
                        <i *ngIf="alert.status == 'DOLPHIN_ERROR'" class="pi pi-times-circle c-red" [title]="'Error en la creación de la alerta en Dolphin'"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="alertList.length == 0" class="notice">
            <i class="pi pi-info-circle c-blue"></i>
            <div>
                No hay alertas para mostrar
            </div>
        </div>

        <div *ngIf="alertList.length > 0" style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="first"
                [rows]="size"
                [totalRecords]="alertsPage.totalElements"
                [showCurrentPageReport]="true"
                [showPageLinks]="false"
                [showJumpToPageDropdown]="false"
                currentPageReportTemplate="{first} a {last} de {totalRecords} elementos"
                [rowsPerPageOptions]="[5, 10, 20, 50]"
                [showPageLinks]="true"/>

            <p-button icon="pi pi-save" label="Guardar cambios" severity="primary" [disabled]="!hasChanges()" (onClick)="getChangedAlerts(); saveChangesModalVisible = true;" />
        </div>
    </div>

    <p-skeleton *ngIf="isLoading && !isError" width="1460px" height="800px" borderRadius="8px" />

    <div style="width: 100%; height: 100px;"></div>
</app-page-wrapper>

<div class="bottom-panel" [@slideUp]="this.selectedAlerts.length > 0 ? 'visible' : 'hidden'">
    <div class="text">
        <div><span class="font-20 font-w-600">{{selectedAlerts.length}}</span> &nbsp; {{selectedAlerts.length == 1 ? 'alerta seleccionada' : 'alertas seleccionadas'}}</div>
        <p-button icon="pi pi-times" label="Borrar selección" (onClick)="selectedAlerts = [];" severity="secondary" />
    </div>
    <div style="display: flex; flex-direction: row; gap: 16px;">
        <p-button *ngIf="allSelectedAlertsHaveDolphinError();" icon="pi pi-replay" label="Recrear alerta" severity="primary" (onClick)="recreateAlertModalVisible = true;" />
        <p-button icon="pi pi-trash" label="Eliminar alerta" severity="danger" (onClick)="deleteAlertsModalVisible = true;" />
    </div>
    <div class="buttons">
        <p-floatlabel variant="on">
            <p-select [style]="{'width': '256px'}" inputId="timeWindowLabel" [options]="modifyAlertTimeWindowOptions" optionLabel="label" optionValue="value" appendTo="body" (onChange)="onChangeGlobalTimeWindow($event);"/>
            <label for="timeWindowLabel">Ventana de tiempo</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <p-select [style]="{'width': '256px'}" inputId="periodicityLabel" [options]="periodicityOptions" optionLabel="label" optionValue="value" appendTo="body" (onChange)="onChangeGlobalPeriodicity($event);"/>
            <label for="periodicityLabel">Periodicidad</label>
        </p-floatlabel>
    </div>
</div>

<app-modal [title]="'Guardar cambios'" [visible]="saveChangesModalVisible">
    <div class="modal-container">
        <div class="modal-icon-container">
            <i *ngIf="!isLoading" class="pi pi-save" style="font-size: 128px"></i>
            <i *ngIf="isLoading" class="pi pi-spinner spin" style="font-size: 128px"></i>
            <div class="font-16 font-w-600">Se van a guardar los cambios realizados en {{changedAlerts.length}} {{changedAlerts.length == 1 ? 'alerta' : 'alertas'}}</div>
            <div class="font-12 text-gray">{{changedAlerts.length == 1 ? 'A continuación se muestra la alerta a la que se le va a realizar los cambios' : 'A continuación se muestran las alertas a las que se les van a realizar los cambios'}}</div>
        </div>
        <div class="changed-alerts-container">
            <div class="changed-alert-container" *ngFor="let changedAlert of changedAlerts; let i = index; let last = last;">
                <div class="data">
                    <div class="font-w-600">#{{changedAlert.alertId}} - {{changedAlert.name}}</div>
                    <i *ngIf="!this.saveChangesMapLoading.get(changedAlert.alertId!) && !this.saveChangesMapSuccess.get(changedAlert.alertId!) && !this.saveChangesMapError.get(changedAlert.alertId!)" class="pi pi-circle"></i>
                    <i *ngIf="this.saveChangesMapLoading.get(changedAlert.alertId!)" class="pi pi-spinner spin"></i>
                    <i *ngIf="this.saveChangesMapSuccess.get(changedAlert.alertId!)" class="pi pi-check-circle" style="color: green;"></i>
                    <i *ngIf="this.saveChangesMapError.get(changedAlert.alertId!)" class="pi pi-times-circle" style="color: red;"></i>
                </div>

                <div *ngIf="!last" class="separator"></div>
            </div>
        </div>
    </div>
    <div class="modal-actions">
        <p-button *ngIf="completedUpdates != changedAlerts.length" label="Cerrar" severity="secondary" (onClick)="saveChangesModalVisible = false;" [disabled]="saveChangesLoading()" />
        <p-button *ngIf="completedUpdates != changedAlerts.length" label="Confirmar" severity="primary" (onClick)="onClickConfirmSaveChanges();" [disabled]="saveChangesLoading()" />
        <div *ngIf="completedUpdates == changedAlerts.length"></div>
        <p-button *ngIf="completedUpdates == changedAlerts.length" label="Aceptar" severity="primary" (onClick)="completedUpdates = 0; getAllAlerts(page, size, ''); saveChangesModalVisible = false;" [disabled]="saveChangesLoading()" />
    </div>
</app-modal>

<app-modal [title]="selectedAlerts.length == 1 ? 'Eliminar alerta' : 'Eliminar alertas'" [visible]="deleteAlertsModalVisible">
    <div class="modal-container">
        <div class="modal-icon-container">
            <i *ngIf="!isLoading" class="pi pi-trash" style="font-size: 128px"></i>
            <i *ngIf="isLoading" class="pi pi-spinner spin" style="font-size: 128px"></i>
            <div class="font-16 font-w-600">Se van a eliminar {{selectedAlerts.length}} {{selectedAlerts.length == 1 ? 'alerta' : 'alertas'}}</div>
            <div class="font-12 text-gray">{{selectedAlerts.length == 1 ? 'A continuación se muestra la alerta que va a ser eliminada' : 'A continuación se muestran las alertas que van a ser eliminadas'}}</div>
        </div>
        <div class="changed-alerts-container">
            <div class="changed-alert-container" *ngFor="let selectedAlert of selectedAlerts; let i = index; let last = last;">
                <div class="data">
                    <div class="font-w-600">#{{selectedAlert.alertId}} - {{selectedAlert.name}}</div>
                    <i *ngIf="!this.deleteAlertsMapLoading.get(selectedAlert.alertId!) && !this.deleteAlertsMapSuccess.get(selectedAlert.alertId!) && !this.deleteAlertsMapError.get(selectedAlert.alertId!)" class="pi pi-circle"></i>
                    <i *ngIf="this.deleteAlertsMapLoading.get(selectedAlert.alertId!)" class="pi pi-spinner spin"></i>
                    <i *ngIf="this.deleteAlertsMapSuccess.get(selectedAlert.alertId!)" class="pi pi-check-circle" style="color: green;"></i>
                    <i *ngIf="this.deleteAlertsMapError.get(selectedAlert.alertId!)" class="pi pi-times-circle" style="color: red;"></i>
                </div>

                <div *ngIf="!last" class="separator"></div>
            </div>
        </div>
    </div>
    <div class="modal-actions">
        <p-button *ngIf="completedDeletes != selectedAlerts.length" label="Cerrar" severity="secondary" (onClick)="deleteAlertsModalVisible = false;" [disabled]="deleteAlertsLoading()" />
        <p-button *ngIf="completedDeletes != selectedAlerts.length" label="Confirmar" severity="primary" (onClick)="onClickConfirmDeleteAlerts();" [disabled]="deleteAlertsLoading()" />
        <div *ngIf="completedDeletes == selectedAlerts.length"></div>
        <p-button *ngIf="completedDeletes == selectedAlerts.length" label="Aceptar" severity="primary" (onClick)="completedDeletes = 0; getAllAlerts(page, size, ''); deleteAlertsModalVisible = false;" [disabled]="deleteAlertsLoading()" />
    </div>
</app-modal>

<app-modal [title]="selectedAlerts.length == 1 ? 'Recrear alerta' : 'Recrear alertas'" [visible]="recreateAlertModalVisible">
    <div class="modal-container">
        <div class="modal-icon-container">
            <i *ngIf="!isLoading" class="pi pi-replay" style="font-size: 128px"></i>
            <i *ngIf="isLoading" class="pi pi-spinner spin" style="font-size: 128px"></i>
            <div class="font-16 font-w-600">Se van a recrear {{selectedAlerts.length}} {{selectedAlerts.length == 1 ? 'alerta' : 'alertas'}}</div>
            <div class="font-12 text-gray">{{selectedAlerts.length == 1 ? 'A continuación se muestra la alerta que va a ser recreada' : 'A continuación se muestran las alertas que van a ser recreadas'}}</div>
        </div>
        <div class="changed-alerts-container">
            <div class="changed-alert-container" *ngFor="let selectedAlert of selectedAlerts; let i = index; let last = last;">
                <div class="data">
                    <div class="font-w-600">#{{selectedAlert.alertId}} - {{selectedAlert.name}}</div>
                    <i *ngIf="!this.recreateAlertsMapLoading.get(selectedAlert.alertId!) && !this.recreateAlertsMapSuccess.get(selectedAlert.alertId!) && !this.recreateAlertsMapError.get(selectedAlert.alertId!)" class="pi pi-circle"></i>
                    <i *ngIf="this.recreateAlertsMapLoading.get(selectedAlert.alertId!)" class="pi pi-spinner spin"></i>
                    <i *ngIf="this.recreateAlertsMapSuccess.get(selectedAlert.alertId!)" class="pi pi-check-circle" style="color: green;"></i>
                    <i *ngIf="this.recreateAlertsMapError.get(selectedAlert.alertId!)" class="pi pi-times-circle" style="color: red;"></i>
                </div>

                <div *ngIf="!last" class="separator"></div>
            </div>
        </div>
    </div>
    <div class="modal-actions">
        <p-button *ngIf="completedRecreates != selectedAlerts.length" label="Cerrar" severity="secondary" (onClick)="recreateAlertModalVisible = false;" [disabled]="recreateAlertsLoading()" />
        <p-button *ngIf="completedRecreates != selectedAlerts.length" label="Confirmar" severity="primary" (onClick)="onClickConfirmRecreateAlerts();" [disabled]="recreateAlertsLoading()" />
        <div *ngIf="completedRecreates == selectedAlerts.length"></div>
        <p-button *ngIf="completedRecreates == selectedAlerts.length" label="Aceptar" severity="primary" (onClick)="completedRecreates = 0; getAllAlerts(page, size, ''); recreateAlertModalVisible = false;" [disabled]="recreateAlertsLoading()" />
    </div>
</app-modal>

<p-toast />