.modify-alert-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 32px;
}

.table-container {

    position: relative;
    width: 100%;

    background-color: white;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;

    .table {
        width: 100%;
    }

    .loading-blur
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 1460px;
        height: 100%;
        backdrop-filter: blur(10px);
        border-radius: 8px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;

    margin-top: 24px;

    width: 100%;

    .outlined-button {
        width: fit-content;
        background-color: white !important;
        border-radius: 8px;
    }
}

.accordion-content {
    overflow: hidden;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 24px 0px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;

    form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 256px));
        gap: 24px;
        align-items: start;

        justify-content: space-between;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 24px;
    }
}

#on_label {
    width: 256px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:first-child {
    border-top-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:last-child {
    border-top-right-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.th-blue {
    background-color: #2563eb;
    color: white;
}

th {
    white-space: nowrap;
}

.message-column {
    max-width: 256px;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        height: 100%;

        min-width: 0;

        .save-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            height: 100%;

            flex: 0 0 auto;
        }

        .cell-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            flex: 1 1 auto;
            min-width: 0;

            .cell-text {
                flex: 0 1 auto;
                min-width: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .cell-icon {
                flex: 0 0 auto;
                font-size: 0.75rem;
            }
        }
    }
}

.threshold-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: white;
    white-space: nowrap;

    cursor: pointer;

    transition: all 0.3s ease;
}

.threshold-button-container:hover {
    background-color: #f1f1f1;
}

.popover-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conditions-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .condition-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;

            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 16px;

            .condition-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                width: 100%;
                  
                .id-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    background-color: #2563eb;
                    color: white;
                    border-radius: 50%;
                    min-width: 24px;
                    width: 24px;
                    min-height: 24px;
                    height: 24px;
                }

                .select {
                    width: 100%;
                }

                .select-2 {
                    width: 170px;
                }
            }

            .clauses-container {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .clause-container {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    align-items: center;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

.tag-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    white-space: nowrap;

    cursor: pointer;

    transition: all 0.3s ease;
}

.tag-button-container:hover {
    background-color: #f1f1f1;
}

.tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    flex-wrap: wrap;
    max-width: 512px;

    .tag-container {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        background-color: #ebebeb;
        border-radius: 24px;
        padding: 4px 8px;

        white-space: nowrap;

        .remove-icon {
            cursor: pointer;
        }
    }
}

.title-container {
    white-space: nowrap;

    .name {
        max-width: 256px;
        flex: 0 1 auto;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .owner-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .owner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
        }
    }

    .title {
        cursor: pointer;
    }

    .title:hover {
        text-decoration: underline;
    }
}

.endpoints-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .icon {
        border-radius: 50%;
        width: 20px;
        height: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.notice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 8px;
    background-color: white;
    padding: 16px;

    margin-top: 16px;

    width: 100%;
}

.bottom-panel {
    bottom: 0;
    position: fixed;

    width: 100%;
    background-color: white;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px;

    .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}

.modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;

    .modal-icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        text-align: center;

        width: 512px;
    }

    .changed-alerts-container {
        width: 100%;

        display: flex;
        flex-direction: column;

        border: 1px solid lightgray;
        border-radius: 8px;

        .changed-alert-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .data {
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                padding: 16px;
            }

            .separator {
                width: 100%;
                height: 1px;
                background-color: lightgray;
            }
        }
    }
}

.spin {
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.modal-steps {
    display: flex;
    flex-direction: column;
    gap: 32px;

    max-height: 400px;
    overflow-x: scroll;
    overflow-x: hidden;

    .modal-step {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .modal-step-content {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .title-description-block-1 {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .title {
                    font-size: 12px;
                    font-weight: 700;
                }

                .description {
                    font-size: 12px;
                    color: gray;
                }
            }
        }
    }
}

.modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
}

.chips
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    margin-bottom: 8px;

    .chip
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        background-color: white;
        border: 1px solid #2563eb;
        border-radius: 200px;
        padding: 3px 8px;

        white-space: nowrap;

        .chip-label {
            max-width: 256px;
            flex: 0 1 auto;
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .pi-times {
            cursor: pointer;
        }
    }
}