<app-page-wrapper>
    <p-button icon="pi pi-arrow-left" label="Volver" variant="text" severity="secondary"
        (onClick)="onClickNavigateToHome()" />

    <div class="modify-alert-container">
        <div class="page-title">
            <div class="font-32 font-w-700">Modificación de alertas</div>
            <div>Gestiona las alertas que has generado</div>
        </div>
    </div>

    <div *ngIf="!isLoading && isError" class="notice">
        <i class="pi pi-info-circle c-blue"></i>
        <div>
            Ha habido un error al obtener la información
        </div>
    </div>

    <div class="filter-container">
        <p-iconfield *ngIf="!isLoading && !isError" style="width: 100%;">
            <p-inputicon class="pi pi-search" />
            <input style="width: 100%;" [formControl]="filterTextControl" type="text" pInputText placeholder="Buscar alertas por nombre, descripción o etiquetas" />
            <p-inputicon *ngIf="filterTextControl.value && filterTextControl.value != null && filterTextControl.value.length > 0" class="pi pi-times" style="cursor: pointer;" (click)="getAllAlerts(null); filterTextControl.reset();"/>
        </p-iconfield>
        <p-skeleton *ngIf="isLoading && !isError" width="1343px" height="39px" borderRadius="8px" />

        <p-button *ngIf="!isLoading && !isError && false" icon="pi {{filterPanelOpen ? 'pi-times' : 'pi-filter'}}"
            label="{{filterPanelOpen ? 'Cerrar' : 'Filtrar'}}" [outlined]="true"
            [severity]="filterPanelOpen ? 'danger' : 'primary'" class="outlined-button"
            (onClick)="filterPanelOpen = !filterPanelOpen;" />
        <p-skeleton *ngIf="isLoading && !isError" width="92px" height="39px" borderRadius="8px" />
    </div>

    <div class="accordion-content" [class.open]="filterPanelOpen" [@accordionAnimation]="filterPanelOpen ? 'open' : 'closed'">
        <form *ngIf="filterForm" [formGroup]="filterForm">
            <p-floatlabel variant="on">
                <input pInputText autocomplete="off" formControlName="name" />
                <label>Nombre</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <input pInputText autocomplete="off" formControlName="message" />
                <label>Mensaje</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-select [style]="{'width': '256px'}" inputId="timeWindowLabel" [options]="modifyAlertTimeWindowOptions" optionLabel="label" optionValue="value" appendTo="body" formControlName="timeWindow" />
                <label for="timeWindowLabel">Ventana de tiempo</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-select [style]="{'width': '256px'}" inputId="periodicityLabel" [options]="periodicityOptions" optionLabel="label" optionValue="value" appendTo="body" formControlName="periodicity" />
                <label for="periodicityLabel">Periodicidad</label>
            </p-floatlabel>
        </form>

        <div class="buttons-container">
            <p-button label="Borrar filtros" [outlined]="true" (onClick)="clearIndividualFilters()" />
            <p-button label="Aplicar filtros" [outlined]="false" />
        </div>
    </div>

    <div *ngIf="!isLoading && !isError" class="table-container">
        <p-table class="table" id="dt" #dt [value]="currentAlertList" [size]="'small'" [showGridlines]="true" [stripedRows]="true" [(selection)]="selectedAlerts">
            <ng-template #header>
                <tr>
                    <th class="th-blue" style="width: 4rem; text-align: center;"><p-tableHeaderCheckbox /></th>
                    <th class="th-blue">Nombre</th>
                    <th class="th-blue">Mensaje</th>
                    <th class="th-blue">Creación</th>
                    <th class="th-blue">Severidades</th>
                    <th class="th-blue">Metadatos</th>
                    <th class="th-blue">Endpoints</th>
                    <!-- <th class="th-blue">Última vez</th> -->
                    <!-- <th class="th-blue">Saltos últimas 24h</th> -->
                    <th class="th-blue">Ventana de tiempo</th>
                    <th class="th-blue">Periodicidad</th>
                </tr>
            </ng-template>
            <ng-template #body let-alert>
                <tr>
                    <td style="width: 4rem; text-align: center;">
                        <p-tableCheckbox [value]="alert" />
                    </td>
                    <td class="title-container">
                        <div class="title font-w-600">
                            {{alert.name}}
                        </div>
                        <div class="owner-container">
                            <div class="owner text-gray font-w-600">
                                <i class="pi pi-user font-8"></i>
                                <span class="font-12">Admin</span>
                            </div>

                            <div class="owner c-yellow font-w-600">
                                <i class="pi pi-crown font-8"></i>
                                <span class="font-12">Propietario</span>
                            </div>
                        </div>
                    </td>
                    <td class="message-column">
                        <div class="content">
                            <div class="cell-flex" (click)="alertMessageEdited = alert; newAlertMessage = alert.alertText;">
                                <span class="cell-text" *ngIf="alertMessageEdited == null || (alertMessageEdited != null && alertMessageEdited.alertId != alert.alertId)" [title]="alert.alertText">{{alert.alertText}}</span>
                                <i *ngIf="alertMessageEdited?.alertId != alert.alertId" class="pi pi-pencil cell-icon"></i>
                            </div>
                            <textarea style="width: 100%;" *ngIf="alertMessageEdited != null && alertMessageEdited.alertId == alert.alertId" rows="3" cols="30" pTextarea [(ngModel)]="newAlertMessage"></textarea>
                            <div class="save-buttons">
                                <i *ngIf="alertMessageEdited != null && alertMessageEdited.alertId == alert.alertId" class="pi pi-check" style="font-size: 0.75rem; cursor: pointer; color: green;" (click)="alert.alertText = newAlertMessage; alertMessageEdited = null;"></i>
                                <i *ngIf="alertMessageEdited != null && alertMessageEdited.alertId == alert.alertId" class="pi pi-times" style="font-size: 0.75rem; cursor: pointer; color: red;" (click)="alertMessageEdited = null;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="font-12 text-gray">
                        {{alert.relativeTime}}
                    </td>
                    <td>
                        <div (click)="op1.toggle($event)" class="font-12 threshold-button-container font-w-600">
                            {{alert.conditions.length
                            == 1 ? '1 severidad' : alert.conditions.length + ' severidades'}}</div>
                        <p-popover #op1>
                            <div class="popover-container">
                                <div class="font-w-600">Severidades</div>
                                <div class="severities-container" *ngIf="alert.alertType == 'SIMPLE'">
                                    <div class="severity-container" *ngFor="let condition of alert.conditions; let i = index;">
                                        <div class="id-container font-w-600">{{i+1}}</div>
                                        <p-select class="select" size="small" [(ngModel)]="condition.severity"
                                            [options]="severityOptions" optionLabel="label" optionValue="value"
                                            appendTo="body" />
                                        <p-select class="select-2" size="small" [(ngModel)]="condition.alertClauses[0].compOperation"
                                            [options]="comparationOptions" optionLabel="label" optionValue="value"
                                            appendTo="body" />
                                        <p-inputnumber size="small" [(ngModel)]="condition.alertClauses[0].threshold" mode="decimal"
                                            [minFractionDigits]="0" [maxFractionDigits]="6" />
                                            <p-button *ngIf="!condition.id && condition.id == null && condition.id == undefined" icon="pi pi-minus" [rounded]="true" [text]="true"
                                            severity="danger" (onClick)="onClickRemoveSeverity(alert, i);" />
                                        <p-toggleswitch [(ngModel)]="condition.status" />
                                    </div>
                                </div>
                                <!-- <p-button label="Añadir severidad" icon="pi pi-plus" (onClick)="onClickAddSeverity(alert);" severity="secondary" [disabled]="alert.conditions.length == 4" /> -->
                            </div>
                        </p-popover>
                    </td>
                    <td>
                        <div (click)="op2.toggle($event)" class="tag-button-container font-w-600"><i
                                class="pi pi-tag font-12"></i><span
                                class="font-12">{{alert.alertTags.length}}</span></div>
                        <p-popover #op2>
                            <div class="popover-container">
                                <div class="font-w-600">Etiquetas y metadatos</div>
                                <form [formGroup]="tagForm">
                                    <p-floatlabel class="floatlabel" variant="on" size="small">
                                        <input class="input" pInputText id="name" formControlName="name" size="small" />
                                        <label for="name">Nombre *</label>
                                    </p-floatlabel>
                                    <p-floatlabel class="floatlabel" variant="on" size="small">
                                        <input class="input" pInputText id="value" formControlName="value"
                                            size="small" />
                                        <label for="value">Valor *</label>
                                    </p-floatlabel>
                                    <p-button label="Añadir" icon="pi pi-plus" (onClick)="onClickAddTag(alert);"
                                        severity="secondary" [disabled]="!tagForm.valid" />
                                </form>
                                <div class="font-16 font-w-600">Etiquetas añadidas</div>
                                <div *ngIf="alert.alertTags.length == 0" class="font-12 text-gray">Ninguna etiqueta añadida aún</div>
                                <div *ngIf="alert.alertTags.length > 0" class="tags-container">
                                    <div class="tag-container" *ngFor="let alertTag of alert.alertTags; let i = index;">
                                        <i class="pi pi-tag" style="font-size: 0.75rem;"></i>
                                        <div class="font-12">{{alertTag.name + ': ' + alertTag.value}}</div>
                                        <i class="pi pi-times remove-icon" style="font-size: 0.75rem;"
                                            (click)="onClickRemoveTag(alert, i);"></i>
                                    </div>
                                </div>
                            </div>
                        </p-popover>
                    </td>
                    <td>
                        <div *ngIf="alert.endpoints" class="endpoints-container">
                            <div class="font-12 font-w-700">{{alert.endpoints.length}}</div>
                            <div [title]="endpoint.name" class="icon" *ngFor="let endpoint of alert.endpoints;" [ngClass]="{'bg-blue': endpoint.type == 'email', 'bg-red': endpoint.type == 'teams', 'bg-yellow': endpoint.type == 'webhook', 'bg-green': endpoint.type == 'pagerduty'}">
                                <i class="pi {{endpoint.icon}} font-12 c-clue" [ngClass]="{'c-blue': endpoint.value == 'email', 'c-red': endpoint.value == 'teams', 'c-yellow': endpoint.value == 'webhook', 'c-green': endpoint.value == 'pagerduty'}"></i>
                            </div>
                        </div>
                    </td>
                    <!-- <td class="font-12 text-gray">
                        {{alert.lastTriggered}}
                    </td>
                    <td class="font-12 text-gray">
                        {{alert.triggersLastDay == 1 ? '1 vez' : alert.triggersLastDay + ' veces'}}
                    </td> -->
                    <td>
                        <p-select size="small" [(ngModel)]="alert.evaluationFrequency" [options]="modifyAlertTimeWindowOptions" optionLabel="label" optionValue="value" appendTo="body"/>
                    </td>
                    <td>
                        <p-select size="small" [(ngModel)]="alert.evaluationPeriod" [options]="periodicityOptions" optionLabel="label" optionValue="value" appendTo="body" (onChange)="hasChanges();"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="alertList.length == 0" class="notice">
            <i class="pi pi-info-circle c-blue"></i>
            <div>
                No hay alertas para mostrar
            </div>
        </div>

        <p-button *ngIf="alertList.length > 0" icon="pi pi-save" label="Guardar cambios" severity="primary" [disabled]="!hasChanges()" (onClick)="getChangedAlerts(); saveChangesModalVisible = true;" />
    </div>

    <p-skeleton *ngIf="isLoading && !isError" width="1460px" height="800px" borderRadius="8px" />

    <div style="width: 100%; height: 100px;"></div>
</app-page-wrapper>

<div class="bottom-panel" [@slideUp]="this.selectedAlerts.length > 0 ? 'visible' : 'hidden'">
    <div class="text">
        <div><span class="font-20 font-w-600">{{selectedAlerts.length}}</span> &nbsp; {{selectedAlerts.length == 1 ? 'alerta seleccionada' : 'alertas seleccionadas'}}</div>
        <p-button icon="pi pi-times" label="Borrar selección" (onClick)="selectedAlerts = [];" severity="secondary" />
    </div>
    <div class="buttons">
        <p-floatlabel variant="on">
            <p-select [style]="{'width': '256px'}" inputId="timeWindowLabel" [options]="modifyAlertTimeWindowOptions" optionLabel="label" optionValue="value" appendTo="body" (onChange)="onChangeGlobalTimeWindow($event);"/>
            <label for="timeWindowLabel">Ventana de tiempo</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <p-select [style]="{'width': '256px'}" inputId="periodicityLabel" [options]="periodicityOptions" optionLabel="label" optionValue="value" appendTo="body" (onChange)="onChangeGlobalPeriodicity($event);"/>
            <label for="periodicityLabel">Periodicidad</label>
        </p-floatlabel>
    </div>
</div>

<app-modal [title]="'Guardar cambios'" [visible]="saveChangesModalVisible">
    <div class="modal-container">
        <div class="modal-icon-container">
            <i *ngIf="!isLoading" class="pi pi-save" style="font-size: 128px"></i>
            <i *ngIf="isLoading" class="pi pi-spinner spin" style="font-size: 128px"></i>
            <div class="font-16 font-w-600">Se van a guardar los cambios realizados en {{changedAlerts.length}} {{changedAlerts.length == 1 ? 'alerta' : 'alertas'}}</div>
            <div class="font-12 text-gray">{{changedAlerts.length == 1 ? 'A continuación se muestra la alerta a la que se le va a realizar los cambios' : 'A continuación se muestran las alertas a las que se les van a realizar los cambios'}}</div>
        </div>
        <div class="changed-alerts-container">
            <div class="changed-alert-container" *ngFor="let changedAlert of changedAlerts; let i = index; let last = last;">
                <div class="data">
                    <div class="font-w-600">{{changedAlert.name}}</div>
                    <i *ngIf="!this.saveChangesMapLoading.get(changedAlert.alertId!) && !this.saveChangesMapSuccess.get(changedAlert.alertId!) && !this.saveChangesMapError.get(changedAlert.alertId!)" class="pi pi-circle"></i>
                    <i *ngIf="this.saveChangesMapLoading.get(changedAlert.alertId!)" class="pi pi-spinner spin"></i>
                    <i *ngIf="this.saveChangesMapSuccess.get(changedAlert.alertId!)" class="pi pi-check-circle" style="color: green;"></i>
                    <i *ngIf="this.saveChangesMapError.get(changedAlert.alertId!)" class="pi pi-times-circle" style="color: red;"></i>
                </div>

                <div *ngIf="!last" class="separator"></div>
            </div>
        </div>
    </div>
    <div class="modal-actions">
        <p-button *ngIf="completedUpdates != changedAlerts.length" label="Cerrar" severity="secondary" (onClick)="saveChangesModalVisible = false;" [disabled]="saveChangesLoading()" />
        <p-button *ngIf="completedUpdates != changedAlerts.length" label="Confirmar" severity="primary" (onClick)="onClickConfirmSaveChanges();" [disabled]="saveChangesLoading()" />
        <div *ngIf="completedUpdates == changedAlerts.length"></div>
        <p-button *ngIf="completedUpdates == changedAlerts.length" label="Aceptar" severity="primary" (onClick)="completedUpdates = 0; getAllAlerts(''); saveChangesModalVisible = false;" [disabled]="saveChangesLoading()" />
    </div>
</app-modal>