.modify-alert-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 32px;
}

.table-container {
    background-color: white;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;

    margin-top: 24px;

    .outlined-button {
        width: fit-content;
        background-color: white !important;
        border-radius: 8px;
    }
}

.accordion-content {
    overflow: hidden;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 256px));
        gap: 24px;
        align-items: start;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 24px;
    }
}

#on_label {
    width: 256px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:first-child {
    border-top-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:last-child {
    border-top-right-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.th-blue {
    background-color: #2563eb;
    color: white;
}

th
{
    white-space: nowrap;
}

.message-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 256px;
    cursor: help;
}

.threshold-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: white;
    white-space: nowrap;

    cursor: pointer;

    transition: all 0.3s ease;
}

.threshold-button-container:hover {
    background-color: #f1f1f1;
}

.popover-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .severities-container
    {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .severity-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;

            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 16px;

            .id-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                background-color: #2563eb;
                color: white;
                border-radius: 50%;
                width: 24px;
                height: 24px;
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

.tag-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    white-space: nowrap;

    cursor: pointer;

    transition: all 0.3s ease;
}

.tag-button-container:hover {
    background-color: #f1f1f1;
}

.tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    flex-wrap: wrap;
    max-width: 512px;

    .tag-container {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        background-color: #ebebeb;
        border-radius: 24px;
        padding: 4px 8px;

        white-space: nowrap;

        .remove-icon {
            cursor: pointer;
        }
    }
}

.title-container
{
    white-space: nowrap;

    .owner-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .owner
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
        }
    }
}

.endpoints-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .icon
    {
        border-radius: 50%;
        width: 20px;
        height: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        cursor: help;
    }
}

.notice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 8px;
    background-color: white;
    padding: 16px;

    margin-top: 16px;
}