.endpoints-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 32px;

    .endpoint-list-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .list-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.table-group-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .table-container {
        background-color: white;
        padding: 16px;
        border: 1px solid lightgray;
        border-radius: 8px;
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;

        .outlined-button {
            width: fit-content;
            background-color: white !important;
            border-radius: 8px;
        }
    }
}

.accordion-content {
    overflow: hidden;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 256px));
        gap: 24px;
        align-items: start;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 24px;
    }
}

.popover-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .key-value-container
    {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 16px;

        background-color: white;
        border-radius: 8px;

        margin-bottom: 8px;

        .form-input {
            flex: 1;

            input {
                width: 100%;
            }
        }
    }

    .addresses {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .address {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            border: 1px solid lightgray;
            border-radius: 32px;
            padding: 2px 8px;
        }
    }
}

#on_label {
    width: 256px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:first-child {
    border-top-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:last-child {
    border-top-right-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.th-blue {
    background-color: #2563eb;
    color: white;
}

.notice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
}