<app-page-wrapper>
    <p-button icon="pi pi-arrow-left" label="Volver" variant="text" severity="secondary" (onClick)="onClickNavigateToCreateAlert()"/>

    <div class="steps-container">
        <div class="font-32 font-w-600">Condición simple</div>
        <app-accordion [title]="'Paso 1: Configura la consulta'" [highlightTitle]="true" [isOpen]="true">
            <div *ngIf="!loadingAllMetricList" class="consult-configuration-container">
                <div class="metric-selection-container">
                    <div class="metric-select">
                        <p-multiselect class="full-width-selector" [loading]="loadingMetricList" [options]="metricList" [(ngModel)]="selectedMetricList" [filter]="true" (onFilter)="onFilterMetricsChange($event);" optionLabel="metric" [placeholder]="loadingMetricList ? 'Cargando...' : 'Selecciona alguna métrica'" appendTo="body">
                            <ng-template let-metric #item>
                                <div style="display: flex; flex-direction: column; gap: 8px;">
                                    <div style="display: flex; flex-direction: row; align-items: center; gap: 8px;">
                                        <div class="font-w-600">{{metric.metric}}</div>
                                        <div class="font-w-600 font-12" *ngFor="let dimension of metric.dimension" style="background-color: #ebebeb; padding: 2px 10px; border-radius: 24px;">{{dimension}}</div>
                                    </div>
                                    <div *ngIf="metric.comments" class="font-12 text-gray">{{metric?.description}}</div>
                                </div>
                            </ng-template>
                        </p-multiselect>
                        <p-button *ngIf="selectedMetricList.length > 0" label="{{selectedMetricList.length == 1 ? 'Añadir métrica' : 'Añadir métricas'}}" icon="pi pi-plus" (onClick)="onClickSelectMetrics();" [disabled]="selectedMetricList.length + selectedMetrics.length > metricOptions.maxMetricNumber" severity="secondary"/>
                    </div>
                    <div *ngIf="selectedMetrics.length > 0" class="metric-options">
                        <div class="metric-option" *ngFor="let selectedMetric of selectedMetrics; let i = index;">
                            <div class="metric-option-data">
                                <div class="id-wrapper">
                                    <span class="font-16 text-white font-w-600">{{selectedMetric.id}}</span>
                                </div>

                                <p-select *ngIf="i > 0" [options]="metricOperationOptions" [(ngModel)]="selectedMetric.operation" optionLabel="label" appendTo="body" (onChange)="onChangeSelectOperation();"/>

                                <span class="font-16 font-w-600">{{selectedMetric.metric.metric}}</span>
                            </div>

                            <div class="metric-option-action-buttons">
                                <div *ngIf="selectedMetrics.length > 1">
                                    <p-button [pTooltip]="'Bajar'" tooltipPosition="top" showDelay="1000" *ngIf="i < (selectedMetrics.length - 1)" icon="pi pi-arrow-down" [rounded]="true" [text]="true" severity="secondary" (onClick)="onClickArrowDown(i);"/>
                                    <p-button [pTooltip]="'Subir'" tooltipPosition="top" showDelay="1000" *ngIf="i > 0" icon="pi pi-arrow-up" [rounded]="true" [text]="true" severity="secondary" (onClick)="onClickArrowUp(i);"/>
                                </div>
                                <div *ngIf="selectedMetrics.length > 1" style="width: 2px; height: 32px; background-color: lightgray;"></div>
                                <p-button [pTooltip]="'Eliminar métrica'" tooltipPosition="top" showDelay="1000" icon="pi pi-minus" [rounded]="true" [text]="true" severity="danger" (onClick)="onClickRemoveSelectedMetric(i);"/>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedMetrics.length > 0 && !customizeMetric" class="metric-result-container">
                        <div class="metric-result">
                            <div class="font-16 font-w-600">Métrica final:</div>
                            <div [pTooltip]="metricResultIdsTooltip" tooltipPosition="top" class="metric-result-ids font-16 font-w-600 c-blue">
                                {{ resultMetric | sanitizeExpression}}
                            </div>
                        </div> 
                        <ng-template #metricResultIdsTooltip>
                            <div [pTooltip]="metricResultIdsTooltip" tooltipPosition="top" style="display: flex; flex-direction: row; align-items: center;">
                                <div *ngFor="let selectedMetric of selectedMetrics; let i = index;">
                                    <span class="font-16 font-w-700 text-gray">[</span>
                                    <span class="font-12 font-w-600 text-white">{{selectedMetric.metric.metric}}</span>
                                    <span class="font-16 font-w-700 text-gray">]</span>
                                    <span *ngIf="i < (selectedMetrics.length - 1)" class="font-16 font-w-700">{{selectedMetrics[i+1].operation.symbol}}</span>
                                </div>
                            </div>
                        </ng-template>
                        <p-button [pTooltip]="'Personalizar métrica'" tooltipPosition="top" showDelay="1000" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="success" (onClick)="onClickCustomizeMetric();"/>
                    </div>
                    <div *ngIf="selectedMetrics.length > 0 && customizeMetric" class="metric-result-container">
                        <div class="metric-result">
                            <div class="font-16 font-w-600" style="white-space: nowrap;">Métrica personalizada:</div>
                            <input pSize="small" type="text" pInputText [(ngModel)]="resultMetric" style="width: 100%;" (keypress)="allowCharacters($event);"/>
                        </div> 
                        <ng-template #metricResultIdsTooltip>
                            <div [pTooltip]="metricResultIdsTooltip" tooltipPosition="top" style="display: flex; flex-direction: row; align-items: center;">
                                <div *ngFor="let selectedMetric of selectedMetrics; let i = index;">
                                    <span class="font-16 font-w-700 text-gray">[</span>
                                    <span class="font-12 font-w-600 text-white">{{selectedMetric.metric.metric}}</span>
                                    <span class="font-16 font-w-700 text-gray">]</span>
                                    <span *ngIf="i < (selectedMetrics.length - 1)" class="font-16 font-w-700">{{selectedMetrics[i+1].operation.symbol}}</span>
                                </div>
                            </div>
                        </ng-template>
                        <div class="metric-option-action-buttons">
                            <p-button [pTooltip]="'Guardar'" tooltipPosition="top" showDelay="1000" icon="pi pi-check" [rounded]="true" [text]="true" severity="success" (onClick)="onClickSaveMetric();"/>
                            <p-button [pTooltip]="'Cancelar'" tooltipPosition="top" showDelay="1000" icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" (onClick)="onClickCancelMetricCustomization();"/>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedMetrics.length > 0" class="titled-container">
                    <div class="font-16 font-w-600">Agrupaciones</div>
                    <form class="group-by-options" [formGroup]="groupByForm">
                        <p-floatlabel class="full-width-selector" variant="on">
                            <p-multiselect [options]="tagIntersectionOptions" class="full-width-selector" [filter]="true" appendTo="body" formControlName="groupBy"/>
                            <label for="over_label1">Agrupar por</label>
                        </p-floatlabel>
                        <p-floatlabel class="full-width-selector" variant="on">
                            <p-select [options]="operationOptions" class="full-width-selector" inputId="over_label2" optionLabel="label" appendTo="body" formControlName="operation"/>
                            <label for="over_label2">Operación matemática</label>
                        </p-floatlabel>
                    </form>
                </div>

                <app-inner-accordion *ngIf="selectedMetrics.length > 0" [title]="'Opciones avanzadas'">
                    <form class="group-by-options" [formGroup]="advancedOptionsForm">
                        <p-floatlabel class="full-width-selector" variant="on">
                            <p-select [pTooltip]="'Intervalo de tiempo sobre el cual se calcula la métrica seleccionada. Ejemplo: Con una ventana de 5 minutos, se calcula la media del uso de CPU durante ese intervalo.'" tooltipPosition="top" showDelay="500" [options]="timeWindowOptions" class="full-width-selector" inputId="over_label1" optionLabel="label" appendTo="body" formControlName="timeWindow"/>
                            <label style="display: flex; flex-direction: row; align-items: center; gap: 4px;" for="over_label1">Ventana de tiempo <i class="pi pi-info-circle" style="font-size: 0.8rem;"></i></label>
                        </p-floatlabel>
                        <p-floatlabel class="full-width-selector" variant="on">
                            <p-select [pTooltip]="'Aquí puedes introducir el número de minutos desde el momento actual que se van a descartar de datos.'" tooltipPosition="top" showDelay="500" [options]="discardTimeOptions" class="full-width-selector" inputId="over_label2" optionLabel="label" appendTo="body" formControlName="discardTime"/>
                            <label style="display: flex; flex-direction: row; align-items: center; gap: 4px;" for="over_label2">Descartar últimos minutos <i class="pi pi-info-circle" style="font-size: 0.8rem;"></i></label>
                        </p-floatlabel>
                        <p-floatlabel class="full-width-selector" variant="on">
                            <p-select [pTooltip]="'Define cada cuánto se ejecuta la evaluación de la métrica. Si la ventana de tiempo es de 5 minutos y la periodicidad es de 1 minuto, se evaluará cada minuto considerando los últimos 5 minutos de datos.'" tooltipPosition="top" showDelay="500" [options]="periodicityOptions" class="full-width-selector" inputId="over_label3" optionLabel="label" appendTo="body" formControlName="periodicity"/>
                            <label style="display: flex; flex-direction: row; align-items: center; gap: 4px;" for="over_label3">Periodicidad <i class="pi pi-info-circle" style="font-size: 0.8rem;"></i></label>
                        </p-floatlabel>
                    </form>
                </app-inner-accordion>
            </div>
            <p-skeleton *ngIf="loadingAllMetricList" width="100%" height="91px" borderRadius="16px" />
        </app-accordion>

        <app-accordion [title]="'Paso 2: Configura las condiciones de salto y recuperación'" [highlightTitle]="true" [disabled]="step2Disabled">
            <div class="step-2-container">
                <div class="font-20 font-w-600">Configurar umbrales de alerta</div>
                <div class="notice c-blue">
                    <i class="pi pi-info-circle"></i>
                    <div>
                        <span class="font-w-700">Importante</span>: las reglas se ejecutan según un orden de precedencia. Si una misma combinación (por ejemplo: OB = España) se repite en varias líneas con el mismo umbral, se aplicará la primera que aparezca. Utiliza las flechas para subir o bajar las reglas y así establecer tu orden de preferencia.
                    </div>
                </div>

                <div class="threshold-container" *ngFor="let threshold of thresholdArray.controls; let i = index;" [formGroup]="threshold">
                    <div class="threshold-left">
                        <div class="id-wrapper font-12 font-w-600 text-white">{{threshold.get('id')?.value}}</div>
                        <div class="type-buttons-container">
                            <div class="type-button-container" [ngClass]="{'disaster': threshold.get('type')?.value == thresholdTypeOptions[0], 'text-white': threshold.get('type')?.value == thresholdTypeOptions[0]}" (click)="onClickSetThresholdType(threshold, thresholdTypeOptions[0]);">Disaster</div>
                            <div class="type-button-container" [ngClass]="{'critical': threshold.get('type')?.value == thresholdTypeOptions[1], 'text-white': threshold.get('type')?.value == thresholdTypeOptions[1]}" (click)="onClickSetThresholdType(threshold, thresholdTypeOptions[1]);">Critical</div>
                            <div class="type-button-container" [ngClass]="{'major': threshold.get('type')?.value == thresholdTypeOptions[2]}" (click)="onClickSetThresholdType(threshold, thresholdTypeOptions[2]);">Major</div>
                            <div class="type-button-container" [ngClass]="{'warning': threshold.get('type')?.value == thresholdTypeOptions[3]}" (click)="onClickSetThresholdType(threshold, thresholdTypeOptions[3]);">Warning</div>
                        </div>
                        <p-select formControlName="comparation" class="select" [options]="thresholdComparationOptions" optionLabel="label" appendTo="body" size="small"/>
                        <p-inputnumber class="threshold-value" *ngIf="threshold.get('comparation')?.value.value == 0 || threshold.get('comparation')?.value.value == 1" formControlName="value" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="6" size="small" placeholder="Valor"/>
                        <div *ngIf="threshold.get('comparation')?.value.value == 2 || threshold.get('comparation')?.value.value == 3" class="range-container">
                            <div>
                                <p-checkbox formControlName="minIncluded" [binary]="true" size="small"/>
                                &nbsp;
                                <label>Incl.</label>
                            </div>
                            <p-inputnumber class="threshold-value" formControlName="min" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="6" size="small" placeholder="Min"/>
                            -
                            <p-inputnumber class="threshold-value" formControlName="max" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="6" size="small" placeholder="Max"/>
                            <div>
                                <p-checkbox formControlName="maxIncluded" [binary]="true" size="small"/>
                                &nbsp;
                                <label>Incl.</label>
                            </div>
                        </div>
                        <div *ngIf="this.groupByForm.get('groupBy')?.value.length > 0" style="width: 2px; height: 32px; background-color: lightgray;"></div>
                        <p-multiselect *ngFor="let dimension of this.groupByForm.get('groupBy')?.value;" class="multiselect" [options]="thresholdComparationOptions" appendTo="body" size="small" placeholder="{{dimension}}"/>
                    </div>
                    <div *ngIf="thresholdArray.controls.length > 1" class="threshold-options">
                        <div>
                            <p-button [pTooltip]="'Bajar'" tooltipPosition="top" showDelay="1000" *ngIf="i < (thresholdArray.controls.length - 1)" icon="pi pi-arrow-down" [rounded]="true" [text]="true" severity="secondary" (onClick)="onClickThresholdArrowDown(i);"/>
                            <p-button [pTooltip]="'Subir'" tooltipPosition="top" showDelay="1000" *ngIf="i > 0" icon="pi pi-arrow-up" [rounded]="true" [text]="true" severity="secondary" (onClick)="onClickThresholdArrowUp(i);"/>
                        </div>
                        <div style="width: 2px; height: 32px; background-color: lightgray;"></div>
                        <p-button [pTooltip]="'Eliminar umbral'" tooltipPosition="top" showDelay="1000" icon="pi pi-minus" [rounded]="true" [text]="true" severity="danger" (onClick)="onClickRemoveSelectedThreshold(i);"/>
                    </div>
                </div>

                <p-button label="Añadir otro umbral" icon="pi pi-plus" (onClick)="createThreshold();" severity="secondary"/>

                <app-inner-accordion [title]="'Opciones de activación y recuperación'">
                    <form class="activation-recover-block-container" [formGroup]="activationRecoverForm">
                        <div class="activation-recover-container">
                            <div class="activation-recover-container-title">
                                <div class="icon-wrapper"><i class="pi pi-bell text-white" style="font-size: 0.7rem"></i></div>
                                <div class="font-16 text-gray font-w-600">Configuración de activación de la alerta</div>
                            </div>
                            <div class="activation-recover-card">
                                <div>¿Cuántas evaluaciones deben fallar para activar la alerta?</div>
                                <div class="activation-recover-card-data">
                                    <p-select [options]="activationRecoverEvaluationOptions" size="small" class="select" optionLabel="label" appendTo="body" formControlName="activation1"/>
                                    <div class="font-16">de los últimos</div>
                                    <p-select [options]="activationRecoverEvaluationOptions" size="small" class="select" optionLabel="label" appendTo="body" formControlName="activation2"/>
                                    <div class="font-16">minutos</div>
                                </div>
                                <div class="font-12 text-gray font-w-600">Ejemplo: La alerta se activa si en {{activationRecoverForm.get('activation1')?.value.label}} de los últimos {{activationRecoverForm.get('activation2')?.value.label}} minutos falla</div>
                                <div class="activation-recover-card-time">
                                    <i class="pi pi-clock"></i>
                                    <div class="font-16">Tiempo estimado entre <span class="font-w-600">10 minutos y 10 minutos</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="activation-recover-container">
                            <div class="activation-recover-container-title">
                                <div class="icon-wrapper"><i class="pi pi-check text-white" style="font-size: 0.5rem"></i></div>
                                <div class="font-16 text-gray font-w-600">Configuración de recuperación (desactivación de la alerta)</div>
                            </div>
                            <div class="activation-recover-card">
                                <div>¿Cuántas evaluaciones deben fallar para desactivar la alerta?</div>
                                <div class="activation-recover-card-data">
                                    <p-select [options]="activationRecoverEvaluationOptions" size="small" class="select" optionLabel="label" appendTo="body" formControlName="recover1"/>
                                    <div class="font-16">de los últimos</div>
                                    <p-select [options]="activationRecoverEvaluationOptions" size="small" class="select" optionLabel="label" appendTo="body" formControlName="recover2"/>
                                    <div class="font-16">minutos</div>
                                </div>
                                <div class="font-12 text-gray font-w-600">Ejemplo: La alerta se desactiva si en {{activationRecoverForm.get('recover1')?.value.label}} de los últimos {{activationRecoverForm.get('recover2')?.value.label}} minutos falla</div>
                                <div class="activation-recover-card-time">
                                    <i class="pi pi-clock"></i>
                                    <div class="font-16">Tiempo estimado entre <span class="font-w-600">10 minutos y 10 minutos</span></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </app-inner-accordion>

                <app-inner-accordion [title]="'Periodos de silencio'">
                    <div class="silence-periods-container">
                        <div class="silence-period-container" *ngFor="let silencePeriod of silencePeriodArray.controls; let i = index;" [formGroup]="silencePeriod">
                            <div class="checkboxes-container">
                                <i class="pi pi-calendar c-blue"></i>
                                <div *ngFor="let silencePeriodDay of silencePeriodDayOptions;" style="display: flex; flex-direction: row; align-items: center; gap: 8px;">
                                    <p-checkbox size="small" inputId="{{silencePeriodDay.value}}" [value]="silencePeriodDay" name="days" formControlName="days" [binary]="false" />
                                    <label class="font-w-600" for="{{silencePeriodDay.value}}"> {{silencePeriodDay.label}} </label>
                                </div>
                            </div>
                            <div class="times-container">
                                <i class="pi pi-clock c-blue"></i>
                                <div>De</div>
                                <p-datepicker class="datepicker" size="small" [timeOnly]="true" formControlName="from"/>
                                <div>a</div>
                                <p-datepicker class="datepicker" size="small" [timeOnly]="true" formControlName="to"/>
                            </div>
                            <p-button *ngIf="silencePeriodArray.length > 1" [pTooltip]="'Eliminar periodo de silencio'" tooltipPosition="top" showDelay="1000" icon="pi pi-minus" [rounded]="true" [text]="true" severity="danger" (onClick)="deleteSilencePeriod(i);"/>
                        </div>

                        <p-button label="Añadir otro periodo de silencio" icon="pi pi-plus" (onClick)="createSilencePeriod();" severity="secondary"/>
                    </div>
                </app-inner-accordion>

                <!-- <app-inner-accordion [title]="'Comportamiento ante errores'">
                    <form class="error-behavior-container" [formGroup]="errorBehaviorForm">
                        <div class="error-behavior-line">
                            <div class="icon-title">
                                <i class="pi pi-database"></i>
                                <div class="font-w-600">¿Qué quieres hacer si la query no devuelve datos?</div>
                            </div>
                            <p-select [options]="errorBehaviorOptions" size="small" class="select" optionLabel="label" appendTo="body" formControlName="error1"/>
                        </div>

                        <div class="error-behavior-line">
                            <div class="icon-title">
                                <i class="pi pi-database"></i>
                                <div class="font-w-600">¿Qué quieres hacer si la query falla y hace timeout?</div>
                            </div>
                            <p-select [options]="errorBehaviorOptions" size="small" class="select" optionLabel="label" appendTo="body" formControlName="error2"/>
                        </div>
                    </form>
                </app-inner-accordion> -->
            </div>
        </app-accordion>

        <app-accordion [title]="'Paso 3: Configura los destinatarios de la alerta'" [highlightTitle]="true" [disabled]="step3Disabled">
            <div class="step-3-container">
                <div class="endpoint-list-container">
                    <div class="font-20 font-w-600">Lista de endpoints</div>
                    <div class="font-16">Define cómo y donde quieres recibir las alertas según su nivel de criticidad.</div>
                    <div class="channel-list-container">
                        <div class="channel-container" *ngFor="let endpoint of endpointArray.controls; let i = index;" [formGroup]="endpoint">
                            <div class="channel-data-container">
                                <i class="pi {{iconMap.get(endpoint.get('channel')?.value?.value)}}"></i>
                                <p-select [options]="channelOptions" class="select" optionLabel="label" appendTo="body" formControlName="channel"/>
                                <div class="text-gray">prueba&#64;test.com</div>
                            </div>

                            <div class="alerts-container">
                                <div class="type-button-container" [ngClass]="{'disaster': endpoint.get('alerts')?.value?.includes(alertOptions[0]), 'text-white': endpoint.get('alerts')?.value?.includes(alertOptions[0])}" (click)="onClickSetEndpointAlert(endpoint, alertOptions[0]);">Disaster</div>
                                <div class="type-button-container" [ngClass]="{'critical': endpoint.get('alerts')?.value?.includes(alertOptions[1]), 'text-white': endpoint.get('alerts')?.value?.includes(alertOptions[1])}" (click)="onClickSetEndpointAlert(endpoint, alertOptions[1]);">Critical</div>
                                <div class="type-button-container" [ngClass]="{'major': endpoint.get('alerts')?.value?.includes(alertOptions[2])}" (click)="onClickSetEndpointAlert(endpoint, alertOptions[2]);">Major</div>
                                <div class="type-button-container" [ngClass]="{'warning': endpoint.get('alerts')?.value?.includes(alertOptions[3])}" (click)="onClickSetEndpointAlert(endpoint, alertOptions[3]);">Warning</div>
                            </div>
                            <p-button *ngIf="endpointArray.length > 1" [pTooltip]="'Eliminar endpoint'" tooltipPosition="top" showDelay="1000" icon="pi pi-minus" [rounded]="true" [text]="true" severity="danger" (onClick)="deleteEndpoint(i);"/>
                        </div>
                        <p-button label="Añadir otro canal" icon="pi pi-plus" (onClick)="createEndpoint();" severity="secondary"/>
                    </div>
                </div>
                <div class="add-label-container">
                    <div class="font-20 font-w-600">Añadir etiqueta</div>
                    <div class="font-16">Añade etiquetas personalizadas para categorizar y organizar mejor tus alertas. Estas etiquetas pasarán a formar parte de los metadatos de la alerta.</div>
                    <form [formGroup]="tagForm">
                        <div class="add-label-fields">
                            <p-floatlabel class="floatlabel" variant="on">
                                <input class="input" pInputText id="name" formControlName="name" />
                                <label for="name">Nombre *</label>
                            </p-floatlabel>
                            <p-floatlabel class="floatlabel" variant="on">
                                <input class="input" pInputText id="value" formControlName="value" />
                                <label for="value">Valor *</label>
                            </p-floatlabel>
                        </div>
                        <p-button label="Añadir etiqueta" icon="pi pi-plus" (onClick)="onClickAddTag();" severity="secondary" [disabled]="!tagForm.valid"/>
                    </form>
                    <div *ngIf="tagList.length > 0" class="font-16 font-w-600">Etiquetas añadidas</div>
                    <div *ngIf="tagList.length > 0" class="labels-container">
                        <div class="label-container" *ngFor="let tag of tagList; let i = index;">
                            <i class="pi pi-tag" style="font-size: 0.75rem;"></i>
                            <div class="font-12">{{tag.name + ': ' + tag.value}}</div>
                            <i class="pi pi-times remove-icon" style="font-size: 0.75rem;" (click)="onClickRemoveTag(i);"></i>
                        </div>
                    </div>
                </div>
                <div class="notification-message-container">
                    <div class="font-20 font-w-600">Mensaje de notificación</div>
                    <div class="font-16">Configura el mensaje que se enviará con cada notificación.</div>
                    <div class="notice c-blue">
                        <i class="pi pi-info-circle"></i>
                        <div>
                            <span class="font-w-700">Uso de variables y bloques condicionales</span>: Puedes usar <strong>&#123;&#123;</strong> en los campos de mensaje y detalles para acceder a variables de plantilla (como <strong>host.name</strong>) y bloques condicionales (como <strong>#is_alert</strong>)
                        </div>
                    </div>

                    <p-tabs class="tabs" value="0">
                        <p-tablist>
                            <p-tab style="width: 50%;" value="0">
                                <i class="pi pi-pencil"></i>
                                <div>Edición</div>
                            </p-tab>
                            <p-tab style="width: 50%;" value="1">
                                <i class="pi pi-eye"></i>
                                <div>Previsualización</div>
                            </p-tab>
                        </p-tablist>
                        <p-tabpanels>
                            <p-tabpanel value="0">
                                <form [formGroup]="notificationMessageForm">
                                    <div class="notification-message-form">
                                        <label class="font-w-600" for="message">Mensaje de la alerta <span style="color: red;">*</span></label>
                                        <textarea class="full-w-field" pTextarea #message id="message" rows="2" [autoResize]="true" formControlName="message" (ngModelChange)="verifyMessageText(message.value, message)" placeholder="Escribe aquí el mensaje de la alerta. Usa doble llave para ver sugerencias de bloques condicionales y variables..."></textarea>

                                        <label class="font-w-600" for="details">Detalles adicionales</label>
                                        <textarea class="full-w-field" pTextarea #details id="details" rows="2" [autoResize]="true" formControlName="details" (ngModelChange)="verifyDetailsText(details.value, details)" placeholder="Escribe aquí los detalles adicionales de la alerta. Usa doble llave para ver sugerencias de bloques condicionales y variables..."></textarea>

                                        <label class="font-w-600" for="proccedure">Procedimiento (OPI)</label>
                                        <input class="full-w-field" pInputText id="proccedure" formControlName="proccedure" placeholder="URL del Procedimiento Operativo (OPI)"/>
                                    </div>
                                </form>
                            </p-tabpanel>
                            <p-tabpanel value="1">
                                <form [formGroup]="notificationMessageForm">
                                    <div class="notification-message-form">
                                        <label class="font-w-600">Mensaje de la alerta:</label>
                                        <textarea class="full-w-field" pTextarea rows="2" [autoResize]="true" formControlName="message" readonly="readonly"></textarea>

                                        <label class="font-w-600">Detalles adicionales:</label>
                                        <textarea class="full-w-field" pTextarea rows="2" [autoResize]="true" formControlName="details" readonly="readonly"></textarea>

                                        <label class="font-w-600">Procedimiento (OPI):</label>
                                        <input class="full-w-field" pInputText formControlName="proccedure" readonly="readonly" />
                                    </div>
                                </form>
                            </p-tabpanel>
                        </p-tabpanels>
                    </p-tabs>
                </div>
            </div>
        </app-accordion>

        <app-accordion [title]="'Paso 4: Configura los aspectos relativos a los permisos'" [highlightTitle]="true" [disabled]="step4Disabled">
            <div class="step-4-container">
                <div class="notice c-blue">
                    <i class="pi pi-info-circle"></i>
                    <div>
                        <span class="font-w-700">Importante</span>: por defecto, tu equipo (admin) podrá editar la configuración de la alerta, y todos los demás equipos podrán verla. Configura los permisos para otros equipos a continuación si quieres cambiar estos valores por defecto.
                    </div>
                </div>

                <div class="permissions-container">
                    <div class="permission-container" *ngFor="let permission of permissionList; let i = index;">
                        <div class="permission-form-container">
                            <p-select [options]="permissionTeamOptions" class="select" optionLabel="label" appendTo="body" [(ngModel)]="permission.team" placeholder="Selecciona un equipo"/>
                            <div style="display: flex; flex-direction: row; align-items: center; gap: 8px;" *ngFor="let permissionTypeOption of permissionTypeOptions; let j = index;">
                                <p-radiobutton size="small" name="type" [value]="permissionTypeOption" [(ngModel)]="permission.type" [inputId]="permissionTypeOption.value + j" />
                                <i class="pi {{permissionTypeOption.icon}} c-blue"></i>
                                <label [for]="permissionTypeOption.value + j">{{permissionTypeOption.label}}</label>
                            </div>
                        </div>
                        <p-button *ngIf="permissionList.length > 1" [pTooltip]="'Eliminar permiso'" tooltipPosition="top" showDelay="1000" icon="pi pi-minus" [rounded]="true" [text]="true" severity="danger" (onClick)="deletePermission(i);"/>
                    </div>

                    <p-button label="Añadir otro permiso" icon="pi pi-plus" (onClick)="createPermission();" severity="secondary"/>
                </div>
            </div>
        </app-accordion>

        <div class="end-button-container">
            <p-button label="Crear alerta" (onClick)="onClickCreateAlert();" severity="primary" [disabled]="selectedMetrics.length == 0 || !allValuesCompleted() || (silencePeriodArray.length > 1 && !allSilencePeriodFieldsCompleted()) || !notificationMessageForm.valid"/>
        </div>
    </div>
</app-page-wrapper>

<app-floating-graph></app-floating-graph>

<app-modal [title]="'Crear alerta'" [visible]="modalVisible">
    <div class="modal-steps">
        <div class="modal-step">
            <div class="font-16 font-w-700 c-blue">Paso 1: Configuración de la consulta</div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Métricas seleccionadas</div>
                <div class="title-description-block-1" *ngFor="let selectedMetric of selectedMetrics; let i = index;">
                    <div class="title">Métrica {{selectedMetric.id}}</div>
                    <div class="description"><span *ngIf="i > 0">({{selectedMetric.operation.symbol}})</span> {{selectedMetric.metric.metric}}</div>
                </div>
                <div class="title-description-block-1">
                    <div class="title">Métrica final</div>
                    <div class="description">{{resultMetric | sanitizeExpression}}</div>
                </div>
            </div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Agrupaciones</div>
                <div class="title-description-block-1">
                    <div class="title">Agrupar por</div>
                    <div class="description">{{groupByForm.get('groupBy')?.value.length == 0 ? 'Sin agrupar' : groupByForm.get('groupBy')?.value}}</div>
                </div>
                <div class="title-description-block-1">
                    <div class="title">Operación matemática</div>
                    <div class="description">{{groupByForm.get('operation')?.value.label}}</div>
                </div>
            </div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Opciones avanzadas</div>
                <div class="title-description-block-1">
                    <div class="title">Ventana de tiempo</div>
                    <div class="description">{{advancedOptionsForm.get('timeWindow')?.value.label}}</div>
                </div>
                <div class="title-description-block-1">
                    <div class="title">Descartar últimos minutos</div>
                    <div class="description">{{advancedOptionsForm.get('discardTime')?.value.label}}</div>
                </div>
                <div class="title-description-block-1">
                    <div class="title">Periodicidad</div>
                    <div class="description">{{advancedOptionsForm.get('periodicity')?.value.label}}</div>
                </div>
            </div>
        </div>

        <div class="modal-step">
            <div class="font-16 font-w-700 c-blue">Paso 2: Condiciones de salto y recuperación</div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Umbrales seleccionados</div>
                <div class="title-description-block-1" *ngFor="let threshold of thresholdArray.controls; let i = index;">
                    <div class="title">Umbral {{threshold.get('id')?.value}}</div>
                    <div class="description">{{threshold.get('type')?.value.label}} | {{threshold.get('comparation')?.value.label}} | {{threshold.get('value')?.value}}</div>
                </div>
            </div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Opciones de activación de recuperación</div>
                <div class="title-description-block-1">
                    <div class="title">¿Cuántas evaluaciones deben fallar para activar la alerta?</div>
                    <div class="description">{{activationRecoverForm.get('activation1')?.value.label}} de los últimos {{activationRecoverForm.get('activation2')?.value.label}} minutos</div>
                </div>
                <div class="title-description-block-1">
                    <div class="title">¿Cuántas evaluaciones deben fallar para desactivar la alerta?</div>
                    <div class="description">{{activationRecoverForm.get('recover1')?.value.label}} de los últimos {{activationRecoverForm.get('recover2')?.value.label}} minutos</div>
                </div>
            </div>
            <div *ngIf="allSilencePeriodFieldsCompleted()" class="modal-step-content">
                <div class="font-16 font-w-600">Periodos de silencio</div>
                <div class="title-description-block-1" *ngFor="let silencePeriod of silencePeriodArray.controls; let i = index;">
                    <div class="title">Periodo de silencio {{silencePeriod.get('id')?.value}}</div>
                    <div class="description">
                        <span *ngFor="let day of silencePeriod.get('days')?.value; let i = index; let last = last;">{{day?.label}}<span *ngIf="!last">, </span></span> | De {{silencePeriod.get('from')?.value | date: 'HH:mm'}} a {{silencePeriod.get('to')?.value | date: 'HH:mm'}}
                    </div>
                </div>
            </div>
            <div *ngIf="!allSilencePeriodFieldsCompleted()" class="modal-step-content">
                <div class="font-16 font-w-600">Periodos de silencio</div>
                <div class="title-description-block-1" *ngFor="let silencePeriod of silencePeriodArray.controls; let i = index;">
                    <div class="description">No se han añadido periodos de silencio</div>
                </div>
            </div>
            <!-- <div class="modal-step-content">
                <div class="font-16 font-w-600">Comportamiento ante errores</div>
                <div class="title-description-block-1">
                    <div class="title">¿Qué quieres hacer si la query no devuelve datos?</div>
                    <div class="description">{{errorBehaviorForm.get('error1')?.value.label}}</div>
                </div>
                <div class="title-description-block-1">
                    <div class="title">¿Qué quieres hacer si la query falla y hace timeout?</div>
                    <div class="description">{{errorBehaviorForm.get('error2')?.value.label}}</div>
                </div>
            </div> -->
        </div>

        <div class="modal-step">
            <div class="font-16 font-w-700 c-blue">Paso 3: Destinatarios</div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Endpoints seleccionados</div>
                <div class="title-description-block-1" *ngFor="let endpoint of endpointArray.controls; let i = index;">
                    <div class="title">Endpoint {{endpoint.get('id')?.value}}</div>
                    <div class="description">{{endpoint.get('channel')?.value.label}}</div>
                    <div class="description">{{endpoint.get('value')?.value}}</div>
                    <div *ngIf="endpoint.get('alerts')?.value!.length > 0" class="description">
                        <span *ngFor="let alert of endpoint.get('alerts')?.value; let last = last;">{{alert.label}}<span *ngIf="!last">, </span></span>
                    </div>
                </div>
            </div>
            <div *ngIf="tagList.length > 0" class="modal-step-content">
                <div class="font-16 font-w-600">Etiquetas añadidas</div>
                <div class="title-description-block-1" *ngFor="let tag of tagList; let i = index;">
                    <div class="title">Etiqueta {{(i + 1)}}</div>
                    <div class="description">{{tag.name}}</div>
                    <div class="description">{{tag.value}}</div>
                </div>
            </div>
            <div *ngIf="tagList.length == 0" class="modal-step-content">
                <div class="font-16 font-w-600">Etiquetas añadidas</div>
                <div class="title-description-block-1">
                    <div class="description">No se han añadido etiquetas</div>
                </div>
            </div>
            <div class="modal-step-content">
                <div class="font-16 font-w-600">Mensaje</div>
                <div class="title-description-block-1" style="max-width: 1000px;">
                    <div class="title">Mensaje</div>
                    <div class="description">{{notificationMessageForm.get('message')?.value}}</div>
                </div>
                <div class="title-description-block-1" style="max-width: 1000px;">
                    <div class="title">Detalles</div>
                    <div *ngIf="notificationMessageForm.get('details')?.value.length > 0" class="description">{{notificationMessageForm.get('details')?.value}}</div>
                    <div *ngIf="notificationMessageForm.get('details')?.value.length == 0" class="description">No se han especificado detalles</div>
                </div>
                <div class="title-description-block-1" style="max-width: 1000px;">
                    <div class="title">Procedimiento</div>
                    <div *ngIf="notificationMessageForm.get('proccedure')?.value.length > 0" class="description">{{notificationMessageForm.get('proccedure')?.value}}</div>
                    <div *ngIf="notificationMessageForm.get('proccedure')?.value.length == 0" class="description">No se ha especificado procedimiento</div>
                </div>
            </div>
        </div>

        <div class="modal-step">
            <div class="font-16 font-w-700 c-blue">Paso 4: Permisos</div>
            <div *ngIf="allPermissionsCompleted();" class="modal-step-content">
                <div class="font-16 font-w-600">Permisos añadidos</div>
                <div class="title-description-block-1" *ngFor="let permission of permissionList; let i = index;">
                    <div class="title">Permiso {{(i + 1)}}</div>
                    <div class="description">{{permission.team.label}}</div>
                    <div class="description">{{permission.type.label}}</div>
                </div>
            </div>
            <div *ngIf="!allPermissionsCompleted();" class="modal-step-content">
                <div class="font-16 font-w-600">Permisos añadidos</div>
                <div class="title-description-block-1">
                    <div class="description c-red">Existen campos sin rellenar en los permisos añadidos. Si no se rellenan los campos que faltan, no se asociarán permisos a la alerta *</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-actions">
        <p-button label="Volver" severity="secondary" (onClick)="modalVisible = false;"/>
        <p-button label="Confirmar" severity="primary" (onClick)="onClickConfirmCreateAlert();"/>
    </div>
</app-modal>

<p-dialog [(visible)]="messageModalVisible" [modal]="false" [closable]="false" [resizable]="false" [showHeader]="false" [style]="messageDialogStyle" (click)="$event.stopPropagation();">
    <div class="notification-modal-content">
        <div class="notification-modal-title">
            <div class="font-20 c-blue font-w-700">#</div>
            <div class="font-16 font-w-600">Bloques condicionales</div>
        </div>
        <div class="options-container">
            <div class="option-container" *ngFor="let conditionalBlockOption of conditionalBlockOptions; let i = index;" (click)="onClickAddConditionalBlockToMessage(i);">
                <div class="font-12 font-w-600 title">{{conditionalBlockOption.label}}</div>
                <div class="font-12 text-gray">{{conditionalBlockOption.description}}</div>
            </div>
        </div>
        <div class="notification-modal-title">
            <div class="font-20 c-green font-w-700">&#123;x&#125;</div>
            <div class="font-16 font-w-600">Variables de plantilla</div>
        </div>
        <div class="options-container">
            <div class="option-container" *ngFor="let templateVariableOption of templateVariableOptions; let i = index;" (click)="onClickAddTemplateVariableToMessage(i);">
                <div class="font-12 font-w-600 title">{{templateVariableOption.label}}</div>
                <div class="font-12 text-gray">{{templateVariableOption.description}}</div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="detailsModalVisible" [modal]="false" [closable]="false" [resizable]="false" [showHeader]="false" [style]="detailsDialogStyle" (click)="$event.stopPropagation();">
    <div class="notification-modal-content">
        <div class="notification-modal-title">
            <div class="font-20 c-blue font-w-700">#</div>
            <div class="font-16 font-w-600">Bloques condicionales</div>
        </div>
        <div class="options-container">
            <div class="option-container" *ngFor="let conditionalBlockOption of conditionalBlockOptions; let i = index;" (click)="onClickAddConditionalBlockToDetails(i);">
                <div class="font-12 font-w-600 title">{{conditionalBlockOption.label}}</div>
                <div class="font-12 text-gray">{{conditionalBlockOption.description}}</div>
            </div>
        </div>
        <div class="notification-modal-title">
            <div class="font-20 c-green font-w-700">&#123;x&#125;</div>
            <div class="font-16 font-w-600">Variables de plantilla</div>
        </div>
        <div class="options-container">
            <div class="option-container" *ngFor="let templateVariableOption of templateVariableOptions; let i = index;" (click)="onClickAddTemplateVariableToDetails(i);">
                <div class="font-12 font-w-600 title">{{templateVariableOption.label}}</div>
                <div class="font-12 text-gray">{{templateVariableOption.description}}</div>
            </div>
        </div>
    </div>
</p-dialog>
