.create-endpoint-container {
    display: flex;
    flex-direction: column;
    gap: 48px;

    margin-top: 32px;

    .create-endpoint-form-container {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;

        .form-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 16px;

            background-color: white;
            border-radius: 8px;
            padding: 16px;

            .form-input {
                flex: 1;

                input {
                    width: 100%;
                }
            }
        }
    }
}

.modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        text-align: center;

        width: 512px;
    }

    .spin {
        animation: spin 0.5s linear infinite;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}

.modal-step-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px;

    margin-top: 16px;

    .title-description-block-1 {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .title {
            font-size: 12px;
            font-weight: 700;
        }

        .description {
            font-size: 12px;
            color: gray;
        }
    }

    .separator
    {
        background-color: lightgray;
        width: 100%;
        height: 1px;
    }
}

.modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
}