.page-title {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 32px;
}

.quick-filters
{
    .filters
    {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

.individual-filters
{
    display: flex;
    flex-direction: row;
    gap: 16px;

    .titled-select
    {
        width: 100%;
    }
}

.full-width
{
    width: 100%;
}

.accordions
{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .acc2
    {
        .content
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            .card
            {
                background-color: white;
                border: 1px solid lightgray;
                border-radius: 8px;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                width: 33%;
                height: 175px;
                padding: 16px;

                transition: all 0.3s ease;

                .times
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    width: 100%;

                    .time
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .slider
                {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    width: 100%;

                    .text
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }

            .card:hover
            {
                transform: translateY(-5px);
            }
        }
    }
}