<app-page-wrapper>
    <p-button icon="pi pi-arrow-left" label="Volver" variant="text" severity="secondary"
        (onClick)="onClickNavigateToHome()" />

    <div class="page-title">
        <div class="font-32 font-w-700">Módulo de analítica</div>
        <div></div>
    </div>

    <div class="accordions">
        <app-accordion *ngIf="false" [title]="'Filtros'" [icon]="'pi pi-filter'" [description]="'Aplica filtros personalizados para analizar tus datos'" [isOpen]="true">
            <div class="quick-filters">
                <p class="text-14 text-gray">Filtros rápidos</p>
                <div class="filters">
                    <p-button label="Limpiar filtros" severity="secondary" (onClick)="onClickClearFilters();" [disabled]="!selectedCityFilterOption && !selectedSeverityFilterOption && !selectedPlatformFilterOption"/>
                    <p-selectbutton [options]="cityFilterOptions" [(ngModel)]="selectedCityFilterOption" optionLabel="label" [size]="'small'" (onChange)="onCityFilterChange()"/>
                    <p-selectbutton [options]="severityFilterOptions" [(ngModel)]="selectedSeverityFilterOption" optionLabel="label" [size]="'small'" (onChange)="onSeverityFilterChange()"/>
                    <p-selectbutton [options]="platformFilterOptions" [(ngModel)]="selectedPlatformFilterOption" optionLabel="label" [size]="'small'" (onChange)="onPlatformFilterChange()"/>
                </div>
            </div>
            <div class="individual-filters">
                <div class="titled-select">
                    <p class="text-14 text-gray">Tiempo</p>
                    <p-select class="full-width" [options]="timeFilterOptions" [(ngModel)]="selectedTimeFilterOption" optionLabel="label" placeholder="Selecciona un tiempo" appendTo="body" />
                </div>
                <div class="titled-select">
                    <p class="text-14 text-gray">Filtros individuales</p>
                    <p-multiselect class="full-width" [options]="groupedFilters" [group]="true" [(ngModel)]="selectedElements" placeholder="Seleciona" display="chip" optionLabel="label" appendTo="body" />
                </div>
            </div>
        </app-accordion>

        <app-accordion [title]="'Métricas generales'" [icon]="'pi pi-bullseye'" class="acc2" [isOpen]="true" [description]="'Resumen de alertas y tiempos de recuperación'">
            <div *ngIf="!generalMetricsResponseLoading" class="content">
                <div class="card-group">
                    <div *ngFor="let metric of generalMetricsFirstGroup" class="card">
                        <i class="{{metric.icon}}" style="color: #2563eb; font-size: 1.2rem;"></i>
                        <div class="font-12 font-w-600 text">{{metric.label}}</div>
                        <div class="font-20 font-w-700">{{metric.formattedValue != null ? metric.formattedValue : metric.count}}</div>
                    </div>
                </div>
                <div class="card-group">
                    <div *ngFor="let metric of generalMetricsSecondGroup" class="card">
                        <i class="{{metric.icon}}" style="color: #16a34a; font-size: 1.2rem;"></i>
                        <div class="font-12 font-w-600 text">{{metric.label}}</div>
                        <div class="font-20 font-w-700">{{metric.formattedValue != null ? metric.formattedValue : metric.count}}</div>
                    </div>
                </div>
                <div class="card-group">
                    <div *ngFor="let metric of generalMetricsThirdGroup" class="card">
                        <i class="{{metric.icon}}" style="color: #f59e0b; font-size: 1.2rem;"></i>
                        <div class="font-12 font-w-600 text">{{metric.label}}</div>
                        <div class="font-20 font-w-700">{{metric.formattedValue != null ? metric.formattedValue : metric.count}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="generalMetricsResponseLoading" style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 125px;">
                <p-progress-spinner />
            </div>
        </app-accordion>

        <app-accordion [title]="'Gráficos y visualizaciones'" [icon]="'pi pi-chart-pie'" [description]="'Distribución por categorías y tendencias temporales'" [isOpen]="true" class="accordion">
            <div class="charts-carousel">
                <div class="carousel">
                    <p-button icon="pi pi-chevron-left" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickPreviousChart();" />
                    <div *ngIf="!obDistResponseLoading" class="charts">
                        <div *ngIf="selectedChartId == 0" class="chart-container">
                            <div class="font-w-600">Distribución por OB</div>
                            <p-chart type="doughnut" [data]="obDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 1" class="chart-container">
                            <div class="font-w-600">Distribución por Severidad</div>
                            <p-chart type="doughnut" [data]="severityDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 2" class="chart-container">
                            <div class="font-w-600">Distribución por Canal</div>
                            <p-chart type="doughnut" [data]="channelDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 3" class="chart-container">
                            <div class="font-w-600">Distribución por Servicio</div>
                            <p-chart type="doughnut" [data]="serviceDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 4" class="chart-container">
                            <div class="font-w-600">Distribución por Fuente</div>
                            <p-chart type="doughnut" [data]="sourceDistData" width="500px" />
                        </div>
                    </div>
                    <p-button icon="pi pi-chevron-right" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickNextChart();" />
                </div>

                <div class="carousel-footer">
                    <div class="points">
                        <div [class.active]="selectedChartId == 0" (click)="selectedChartId = 0" class="point"></div>
                        <div [class.active]="selectedChartId == 1" (click)="selectedChartId = 1" class="point"></div>
                        <div [class.active]="selectedChartId == 2" (click)="selectedChartId = 2" class="point"></div>
                        <div [class.active]="selectedChartId == 3" (click)="selectedChartId = 3" class="point"></div>
                        <div [class.active]="selectedChartId == 4" (click)="selectedChartId = 4" class="point"></div>
                    </div>
                    <div class="label font-12">{{selectedChartId+1}} de 5</div>
                </div>

                <div *ngIf="obDistResponseLoading" style="height: 500px;"></div>

                <div *ngIf="obDistResponseLoading" class="loading-blur">
                    <p-progress-spinner />
                </div>
            </div>
        </app-accordion>

        <app-accordion [title]="'Análisis de Alertas Ruidosas y Oportunidades'" [icon]="'pi pi-exclamation-triangle'" [description]="'Alertas con alto volumen de disparos y sugerencias de mejora'" [isOpen]="true">
            <p-table *ngIf="!alertDrilldownTableLoading" [value]="alertDrilldownTable" dataKey="label" class="step4-table">
                <ng-template #header>
                    <tr>
                        <th style="width: 5rem"></th>
                        <th>Id.</th>
                        <th>Alerta</th>
                        <th>Saltos totales</th>
                        <th>Agrupaciones</th>
                        <th>Etiquetas</th>
                    </tr>
                </ng-template>
                <ng-template #body let-alert let-expanded="expanded">
                    <tr class="alert-row" [pRowToggler]="alert">
                        <td>
                            <p-button type="button" pRipple [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td><strong>{{ alert.label }}</strong></td>
                        <td class="name-column">
                            <div class="name" title="{{alert.alertText}}">
                                <div class="ellipsis">{{alert.alertText}}</div>
                                <div class="instances font-14 font-w-600">{{alert.children.length}} instancias</div>
                            </div>
                        </td>
                        <td>{{ alert.count }}</td>
                        <td style="max-width: 250px;">
                            <div class="chips">
                                <div class="chip" *ngFor="let agroupation of alert.groupBy; let i = index;" [ngStyle]="{'background-color': pastelChips[i % pastelChips.length]}">
                                    {{ agroupation }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <p-button *ngIf="!alert.tags || alert.tags.length == 0"
                                    label="{{alert.tags.length == 1 ? '1 tag' : alert.tags.length + ' tags'}}"
                                    size="small"
                                    severity="secondary"
                                    class="font-12 font-w-600"
                                    [rounded]="true"
                                    [text]="true"
                                    [disabled]="!alert.tags || alert.tags.length == 0"
                                />

                            <span *ngIf="alert.tags && alert.tags.length > 0" (mouseenter)="op1.show($event)" (mouseleave)="op1.hide()" style="display:inline-block">
                                <p-button
                                    label="{{alert.tags.length == 1 ? '1 tag' : alert.tags.length + ' tags'}}"
                                    size="small"
                                    severity="secondary"
                                    class="font-12 font-w-600"
                                    [rounded]="true"
                                    [text]="true"
                                    [disabled]="!alert.tags || alert.tags.length == 0"
                                />
                            </span>

                            <p-popover #op1>
                                <div class="popover-container">
                                    <div class="font-w-600">Tags</div>
                                    <div class="tags-list">
                                        <div *ngFor="let tag of alert.tags" class="tag-item">
                                            <strong>{{ tag.name }}</strong>: {{ tag.value }}
                                        </div>
                                    </div>
                                </div>
                            </p-popover>
                        </td>
                        <td>
                            <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="info" (onClick)="onClickGoToEditAlert(alert);" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template #expandedrow let-alert>
                    <tr *ngFor="let child of alert.children">
                        <td></td>
                        <td></td>
                        <td>
                            <div class="ellipsis" title="{{child.label}}">{{child.label}}</div>
                        </td>
                        <td>{{ child.count }}</td>
                        <td>
                            <div *ngIf="!child.groupBy">-</div>
                        </td>
                        <td>

                            <p-button *ngIf="!child.tags || (child.tags && getKeysCount(child.tags) == 0)"
                                    label="{{!child.tags || (child.tags && getKeysCount(child.tags) == 0) ? '0 filtros' : getKeysCount(child.tags) == 1 ? '1 filtro' : getKeysCount(child.tags) + ' filtros'}}"
                                    size="small"
                                    severity="secondary"
                                    class="font-12 font-w-600"
                                    [rounded]="true"
                                    [text]="true"
                                    [disabled]="!child.tags || getKeysCount(child.tags) == 0"
                                />

                            <span *ngIf="child.tags && getKeysCount(child.tags) > 0" (mouseenter)="op2.show($event)" (mouseleave)="op2.hide()" style="display: inline-block;">
                                <p-button
                                    label="{{!child.tags || (child.tags && getKeysCount(child.tags) == 0) ? '0 filtros' : getKeysCount(child.tags) == 1 ? '1 filtro' : getKeysCount(child.tags) + ' filtros'}}"
                                    size="small"
                                    severity="secondary"
                                    class="font-12 font-w-600"
                                    [rounded]="true"
                                    [text]="true"
                                    [disabled]="!child.tags || getKeysCount(child.tags) == 0"
                                />
                            </span>

                            <p-popover #op2>
                                <div class="popover-container">
                                    <div class="font-w-600">Filtros</div>
                                    <div class="tags-list">
                                    <div *ngFor="let tagString of buildKeyValueArray(child.tags)" class="tag-item">
                                        {{ tagString }}
                                    </div>
                                    </div>
                                </div>
                            </p-popover>
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="alertDrilldownTableLoading" style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 425px;">
                <p-progress-spinner />
            </div>
        </app-accordion>
    </div>
</app-page-wrapper>
