<app-page-wrapper>
    <p-button icon="pi pi-arrow-left" label="Volver" variant="text" severity="secondary"
        (onClick)="onClickNavigateToHome()" />

    <div class="page-title">
        <div class="font-32 font-w-700">Módulo de analítica</div>
        <div></div>
    </div>

    <div class="accordions">
        <app-accordion *ngIf="false" [title]="'Filtros'" [icon]="'pi pi-filter'" [description]="'Aplica filtros personalizados para analizar tus datos'" [isOpen]="true">
            <div class="quick-filters">
                <p class="text-14 text-gray">Filtros rápidos</p>
                <div class="filters">
                    <p-button label="Limpiar filtros" severity="secondary" (onClick)="onClickClearFilters();" [disabled]="!selectedCityFilterOption && !selectedSeverityFilterOption && !selectedPlatformFilterOption"/>
                    <p-selectbutton [options]="cityFilterOptions" [(ngModel)]="selectedCityFilterOption" optionLabel="label" [size]="'small'" (onChange)="onCityFilterChange()"/>
                    <p-selectbutton [options]="severityFilterOptions" [(ngModel)]="selectedSeverityFilterOption" optionLabel="label" [size]="'small'" (onChange)="onSeverityFilterChange()"/>
                    <p-selectbutton [options]="platformFilterOptions" [(ngModel)]="selectedPlatformFilterOption" optionLabel="label" [size]="'small'" (onChange)="onPlatformFilterChange()"/>
                </div>
            </div>
            <div class="individual-filters">
                <div class="titled-select">
                    <p class="text-14 text-gray">Tiempo</p>
                    <p-select class="full-width" [options]="timeFilterOptions" [(ngModel)]="selectedTimeFilterOption" optionLabel="label" placeholder="Selecciona un tiempo" appendTo="body" />
                </div>
                <div class="titled-select">
                    <p class="text-14 text-gray">Filtros individuales</p>
                    <p-multiselect class="full-width" [options]="groupedFilters" [group]="true" [(ngModel)]="selectedElements" placeholder="Seleciona" display="chip" optionLabel="label" appendTo="body" />
                </div>
            </div>
        </app-accordion>

        <app-accordion [title]="'Métricas generales'" [icon]="'pi pi-bullseye'" class="acc2" [isOpen]="true" [description]="'Resumen de alertas y tiempos de recuperación'">
            <div *ngIf="!generalMetricsResponseLoading" class="content">
                <div class="card-group">
                    <div *ngFor="let metric of generalMetricsFirstGroup" class="card">
                        <i class="{{metric.icon}}" style="color: #2563eb; font-size: 1.2rem;"></i>
                        <div class="font-12 font-w-600 text">{{metric.label}}</div>
                        <div class="font-20 font-w-700">{{metric.formattedValue != null ? metric.formattedValue : metric.count}}</div>
                    </div>
                </div>
                <div class="card-group">
                    <div *ngFor="let metric of generalMetricsSecondGroup" class="card">
                        <i class="{{metric.icon}}" style="color: #16a34a; font-size: 1.2rem;"></i>
                        <div class="font-12 font-w-600 text">{{metric.label}}</div>
                        <div class="font-20 font-w-700">{{metric.formattedValue != null ? metric.formattedValue : metric.count}}</div>
                    </div>
                </div>
                <div class="card-group">
                    <div *ngFor="let metric of generalMetricsThirdGroup" class="card">
                        <i class="{{metric.icon}}" style="color: #f59e0b; font-size: 1.2rem;"></i>
                        <div class="font-12 font-w-600 text">{{metric.label}}</div>
                        <div class="font-20 font-w-700">{{metric.formattedValue != null ? metric.formattedValue : metric.count}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="generalMetricsResponseLoading" style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 125px;">
                <p-progress-spinner />
            </div>
        </app-accordion>

        <app-accordion [title]="'Gráficos y visualizaciones'" [icon]="'pi pi-chart-pie'" [description]="'Distribución por categorías y tendencias temporales'" [isOpen]="true" class="accordion">
            <div class="charts-carousel">
                <div class="carousel">
                    <p-button icon="pi pi-chevron-left" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickPreviousChart();" />
                    <div *ngIf="!obDistResponseLoading" class="charts">
                        <div *ngIf="selectedChartId == 0" class="chart-container">
                            <div class="font-w-600">Distribución por OB</div>
                            <p-chart type="doughnut" [data]="obDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 1" class="chart-container">
                            <div class="font-w-600">Distribución por Severidad</div>
                            <p-chart type="doughnut" [data]="severityDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 2" class="chart-container">
                            <div class="font-w-600">Distribución por Canal</div>
                            <p-chart type="doughnut" [data]="channelDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 3" class="chart-container">
                            <div class="font-w-600">Distribución por Servicio</div>
                            <p-chart type="doughnut" [data]="serviceDistData" width="500px" />
                        </div>
                        <div *ngIf="selectedChartId == 4" class="chart-container">
                            <div class="font-w-600">Distribución por Fuente</div>
                            <p-chart type="doughnut" [data]="sourceDistData" width="500px" />
                        </div>
                    </div>
                    <p-button icon="pi pi-chevron-right" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickNextChart();" />
                </div>

                <div class="carousel-footer">
                    <div class="points">
                        <div [class.active]="selectedChartId == 0" (click)="selectedChartId = 0" class="point"></div>
                        <div [class.active]="selectedChartId == 1" (click)="selectedChartId = 1" class="point"></div>
                        <div [class.active]="selectedChartId == 2" (click)="selectedChartId = 2" class="point"></div>
                        <div [class.active]="selectedChartId == 3" (click)="selectedChartId = 3" class="point"></div>
                        <div [class.active]="selectedChartId == 4" (click)="selectedChartId = 4" class="point"></div>
                    </div>
                    <div class="label font-12">{{selectedChartId+1}} de 5</div>
                </div>

                <div *ngIf="obDistResponseLoading" style="height: 500px;"></div>

                <div *ngIf="obDistResponseLoading" class="loading-blur">
                    <p-progress-spinner />
                </div>
            </div>
        </app-accordion>

        <app-accordion [title]="'Análisis de Alertas Ruidosas e Instancias'" [icon]="'pi pi-exclamation-triangle'" [isOpen]="true">

            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">Top 10 alertas más ruidosas</p-tab>
                    <p-tab value="1">Todas las instancias <i class="pi pi-info-circle font-w-600" style="color: #3b82f6; font-size: 1rem; cursor: pointer;" (mouseenter)="onHoverInstancesInformationIcon($event)" (mouseleave)="instancesInformationModalVisible = false"></i></p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <div class="filter-container">
                            <div style="width: 100%; display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">
                                <div class="date-filter" (click)="noiseOp.toggle($event)">
                                    <div class="date-filter-left">
                                        <i class="pi pi-calendar"></i>
                                        <i class="pi pi-chevron-down" style="font-size: 0.9rem;"></i>
                                    </div>
                                    <div class="date-filter-right">
                                        <div>{{ noiseAlertsActiveTimeWindow }}</div>
                                    </div>
                                </div>
                            </div>
                            <p-popover #noiseOp>
                                <div class="noise-alerts-popover-container">
                                    <div class="popover-section">
                                        <div class="font-w-600 font-12">Selección rápida</div>
                                        <div class="popover-section-content">
                                            <form [formGroup]="noiseAlertsFilterForm" class="quick-select-form">
                                                <p-select size="small" [options]="timeWindowOptions" formControlName="timeWindow" optionLabel="label" appendTo="body" />
                                                <ng-container *ngIf="noiseAlertsTimeWindowMode === 'last'">
                                                    <p-inputnumber size="small" formControlName="unitValue" mode="decimal" [min]="1" [showButtons]="true"
                                                        [ngClass]="{'ng-invalid ng-dirty': noiseAlertsFilterForm.get('unitValue')?.invalid && noiseAlertsFilterForm.get('unitValue')?.touched}"/>
                                                    <p-select size="small" [options]="unitTypes" formControlName="unit" optionLabel="label" appendTo="body"
                                                        [ngClass]="{'ng-invalid ng-dirty': noiseAlertsFilterForm.get('unit')?.invalid && noiseAlertsFilterForm.get('unit')?.touched}"/>
                                                </ng-container>
                                                <ng-container *ngIf="noiseAlertsTimeWindowMode === 'between'">
                                                    <p-datepicker title="dd/mm/yyyy hh:mm" size="small" formControlName="from" [showTime]="true" hourFormat="24" appendTo="body" placeholder="Desde" dateFormat="dd/mm/yy"
                                                        [ngClass]="{'ng-invalid ng-dirty': noiseAlertsFilterForm.get('from')?.invalid && noiseAlertsFilterForm.get('from')?.touched}"/>
                                                    <p-datepicker title="dd/mm/yyyy hh:mm" size="small" formControlName="to" [showTime]="true" hourFormat="24" appendTo="body" placeholder="Hasta" dateFormat="dd/mm/yy"
                                                        [ngClass]="{'ng-invalid ng-dirty': noiseAlertsFilterForm.get('to')?.invalid && noiseAlertsFilterForm.get('to')?.touched}"/>
                                                </ng-container>
                                                <p-button size="small" label="Aplicar" [disabled]="noiseAlertsFilterForm.invalid" (onClick)="noiseOp.hide(); getNoiseAlertsTable(); noiseAlertsActiveTimeWindow = 'Personalizado';" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="popover-section">
                                        <div class="font-w-600 font-12">Usados frecuentemente</div>
                                        <div class="popover-section-presets">
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('today');">Hoy</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last24Hours');">Últimas 24 horas</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('thisWeek');">Esta semana</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last7Days');">Últimos 7 días</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last15Minutes');">Últimos 15 minutos</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last30Days');">Últimos 30 días</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last30Minutes');">Últimos 30 minutos</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last90Days');">Últimos 90 días</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last1Hour');">Última 1 hora</div>
                                            <div class="preset-chip" (click)="noiseOp.hide(); onClickNoisePreset('last1Year');">Último 1 año</div>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="popover-section">
                                        <div class="popover-section-content">
                                            <form [formGroup]="noiseAlertsFilterForm" class="quick-select-form">
                                                <p-toggleswitch size="small" formControlName="refreshEveryToggle"/>
                                                <div class="font-w-600 font-12">Refrescar cada</div>
                                                <p-inputnumber size="small" formControlName="refreshUnitValue" mode="decimal" [min]="1" [showButtons]="true" />
                                                <p-select size="small" [options]="refreshUnitTypes" formControlName="refreshUnit" optionLabel="label" appendTo="body" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </p-popover>
                        </div>
                        <p-table *ngIf="!noiseAlertsTableLoading" [value]="noiseAlertsTable" dataKey="label" class="step4-table">
                            <ng-template #header>
                                <tr>
                                    <th style="width: 5rem"></th>
                                    <th>Id</th>
                                    <th>Alerta</th>
                                    <th>Instancias totales</th>
                                    <th>Fecha</th>
                                    <th>Acción</th>
                                    <th>Agrupaciones</th>
                                    <th>Etiquetas</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-alert let-expanded="expanded">
                                <tr class="alert-row" [pRowToggler]="alert">
                                    <td>
                                        <p-button type="button" pRipple [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                    </td>
                                    <td><strong>{{ alert.label }}</strong></td>
                                    <td class="name-column">
                                        <div class="name" title="{{alert.alertText}}">
                                            <div>{{alert.alertText}}</div>
                                        </div>
                                    </td>
                                    <td>{{ alert.count }}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td style="max-width: 250px;">
                                        <div class="chips">
                                            <div class="chip" *ngFor="let agroupation of alert.groupBy; let i = index;" [ngStyle]="{'background-color': pastelChips[i % pastelChips.length]}">
                                                {{ agroupation }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p-button *ngIf="!alert.tags || alert.tags.length == 0"
                                                label="{{alert.tags.length == 1 ? '1 tag' : alert.tags.length + ' tags'}}"
                                                size="small"
                                                severity="secondary"
                                                class="font-12 font-w-600"
                                                [rounded]="true"
                                                [text]="true"
                                                [disabled]="!alert.tags || alert.tags.length == 0"
                                            />

                                        <span *ngIf="alert.tags && alert.tags.length > 0" (mouseenter)="op1.show($event)" (mouseleave)="op1.hide()" style="display:inline-block">
                                            <p-button
                                                label="{{alert.tags.length == 1 ? '1 tag' : alert.tags.length + ' tags'}}"
                                                size="small"
                                                severity="secondary"
                                                class="font-12 font-w-600"
                                                [rounded]="true"
                                                [text]="true"
                                                [disabled]="!alert.tags || alert.tags.length == 0"
                                            />
                                        </span>

                                        <p-popover #op1>
                                            <div class="popover-container">
                                                <div class="font-w-600">Tags</div>
                                                <div class="tags-list">
                                                    <div *ngFor="let tag of alert.tags" class="tag-item">
                                                        <strong>{{ tag.name }}</strong>: {{ tag.value }}
                                                    </div>
                                                </div>
                                            </div>
                                        </p-popover>
                                    </td>
                                    <td>
                                        <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="info" (onClick)="onClickGoToEditAlert(alert);" />
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #expandedrow let-alert>
                                <tr *ngFor="let child of alert.children">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div title="{{child.label}}">{{child.label}}</div>
                                    </td>
                                    <td>{{ child.action == 'CREATE' ? child.count : child.closedCount }}</td>
                                    <td class="font-12 font-w-600">{{ child.datetime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                                    <td class="font-12 font-w-600">{{ child.action === 'CREATE' ? 'PROBLEM' : 'OK' }}</td>
                                    <td>
                                        <div *ngIf="!child.groupBy">-</div>
                                    </td>
                                    <td>

                                        <p-button *ngIf="!child.tags || (child.tags && getKeysCount(child.tags) == 0)"
                                                label="{{!child.tags || (child.tags && getKeysCount(child.tags) == 0) ? '0 filtros' : getKeysCount(child.tags) == 1 ? '1 filtro' : getKeysCount(child.tags) + ' filtros'}}"
                                                size="small"
                                                severity="secondary"
                                                class="font-12 font-w-600"
                                                [rounded]="true"
                                                [text]="true"
                                                [disabled]="!child.tags || getKeysCount(child.tags) == 0"
                                            />

                                        <span *ngIf="child.tags && getKeysCount(child.tags) > 0" (mouseenter)="op2.show($event)" (mouseleave)="op2.hide()" style="display: inline-block;">
                                            <p-button
                                                label="{{!child.tags || (child.tags && getKeysCount(child.tags) == 0) ? '0 filtros' : getKeysCount(child.tags) == 1 ? '1 filtro' : getKeysCount(child.tags) + ' filtros'}}"
                                                size="small"
                                                severity="secondary"
                                                class="font-12 font-w-600"
                                                [rounded]="true"
                                                [text]="true"
                                                [disabled]="!child.tags || getKeysCount(child.tags) == 0"
                                            />
                                        </span>

                                        <p-popover #op2>
                                            <div class="popover-container">
                                                <div class="font-w-600">Filtros</div>
                                                <div class="tags-list">
                                                <div *ngFor="let tagString of buildKeyValueArray(child.tags)" class="tag-item">
                                                    {{ tagString }}
                                                </div>
                                                </div>
                                            </div>
                                        </p-popover>
                                    </td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div *ngIf="noiseAlertsTableLoading" style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 425px;">
                            <p-progress-spinner />
                        </div>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <div class="filter-container">
                            <form *ngIf="!(activeAlarmInstancesTableLoading && !activeAlarmInstancesTableError && firstCall)" style="width: 100%;" [formGroup]="instancesFilterForm">
                                <p-iconfield style="width: 100%;">
                                    <p-inputicon iconPosition="left" class="pi pi-search" />
                                    <input #filterInput style="width: 100%;" formControlName="filterText" type="text" pInputText placeholder='Busca por: Id, Mensaje, Fecha o Evento (P.E. Mensaje: "...") o por Etiquetas (P.E. Etiquetas: "{"ob":"TE", ...}")' />
                                    <p-inputicon iconPosition="right" *ngIf="instancesFilterForm.get('filterText')?.value && instancesFilterForm.get('filterText')?.value.length > 0" class="pi pi-times" style="cursor: pointer;" (click)="instancesFilterForm.get('filterText')?.reset(); getActiveAlarmInstancesTable(page, pageSize);"/>
                                </p-iconfield>
                            </form>
                            <p-skeleton *ngIf="activeAlarmInstancesTableLoading && !activeAlarmInstancesTableError && firstCall" width="1343px" height="39px" borderRadius="8px" />
                            <div class="date-filter" (click)="op1.toggle($event)">
                                <div class="date-filter-left">
                                    <i class="pi pi-calendar"></i>
                                    <i class="pi pi-chevron-down" style="font-size: 0.9rem;"></i>
                                </div>
                                <div class="date-filter-right">
                                    <div>{{ instancesActiveTimeWindow }}</div>
                                </div>
                            </div>
                            <p-button label="Refrescar" icon="pi pi-refresh" (onClick)="getActiveAlarmInstancesTable(page, pageSize);" [loading]="activeAlarmInstancesTableLoading" [disabled]="activeAlarmInstancesTableLoading" />
                            <p-popover #op1>
                                <div class="noise-alerts-popover-container">
                                    <div class="popover-section">
                                        <div class="font-w-600 font-12">Selección rápida</div>
                                        <div class="popover-section-content">
                                            <form [formGroup]="instancesFilterForm" class="quick-select-form">
                                                <p-select size="small" [options]="timeWindowOptions" formControlName="timeWindow" optionLabel="label" appendTo="body" />
                                                <ng-container *ngIf="timeWindowMode === 'last'">
                                                    <p-inputnumber size="small" formControlName="unitValue" mode="decimal" [min]="1" [showButtons]="true"
                                                        [ngClass]="{'ng-invalid ng-dirty': instancesFilterForm.get('unitValue')?.invalid && instancesFilterForm.get('unitValue')?.touched}"/>
                                                    <p-select size="small" [options]="unitTypes" formControlName="unit" optionLabel="label" appendTo="body"
                                                        [ngClass]="{'ng-invalid ng-dirty': instancesFilterForm.get('unit')?.invalid && instancesFilterForm.get('unit')?.touched}"/>
                                                </ng-container>
                                                <ng-container *ngIf="timeWindowMode === 'between'">
                                                    <p-datepicker title="dd/mm/yyyy hh:mm" size="small" formControlName="from" [showTime]="true" hourFormat="24" appendTo="body" placeholder="Desde" dateFormat="dd/mm/yy"
                                                        [ngClass]="{'ng-invalid ng-dirty': instancesFilterForm.get('from')?.invalid && instancesFilterForm.get('from')?.touched}"/>
                                                    <p-datepicker title="dd/mm/yyyy hh:mm" size="small" formControlName="to" [showTime]="true" hourFormat="24" appendTo="body" placeholder="Hasta" dateFormat="dd/mm/yy"
                                                        [ngClass]="{'ng-invalid ng-dirty': instancesFilterForm.get('to')?.invalid && instancesFilterForm.get('to')?.touched}"/>
                                                </ng-container>
                                                <p-button size="small" label="Aplicar" [disabled]="instancesFilterForm.invalid" (onClick)="op1.hide(); getActiveAlarmInstancesTable(page, pageSize); this.instancesActiveTimeWindow = 'Personalizado';" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="popover-section">
                                        <div class="font-w-600 font-12">Usados frecuentemente</div>
                                        <div class="popover-section-presets">
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('today');">Hoy</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last24Hours');">Últimas 24 horas</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('thisWeek');">Esta semana</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last7Days');">Últimos 7 días</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last15Minutes');">Últimos 15 minutos</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last30Days');">Últimos 30 días</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last30Minutes');">Últimos 30 minutos</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last90Days');">Últimos 90 días</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last1Hour');">Última 1 hora</div>
                                            <div class="preset-chip" (click)="op1.hide(); onClickPreset('last1Year');">Último 1 año</div>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="popover-section">
                                        <div class="popover-section-content">
                                            <form [formGroup]="instancesFilterForm" class="quick-select-form">
                                                <p-toggleswitch size="small" formControlName="refreshEveryToggle"/>
                                                <div class="font-w-600 font-12">Refrescar cada</div>
                                                <p-inputnumber size="small" formControlName="refreshUnitValue" mode="decimal" [min]="1" [showButtons]="true" />
                                                <p-select size="small" [options]="refreshUnitTypes" formControlName="refreshUnit" optionLabel="label" appendTo="body" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </p-popover>
                        </div>

                        <div *ngIf="bucketData" style="margin-bottom: 16px; border-radius: 8px; border: 1px solid lightgray; padding: 8px;">
                            <p-chart type="bar" [data]="bucketData" [options]="bucketOptions" height="256px" />
                        </div>

                        <p-table *ngIf="!activeAlarmInstancesTableLoading && activeAlarmInstancesTable?.instances" [value]="activeAlarmInstancesTable.instances" class="step4-table">
                            <ng-template #header>
                                <tr>
                                    <th class="clickable-header" (click)="addFilter('Id')">Id</th>
                                    <th class="clickable-header" (click)="addFilter('Mensaje')">Mensaje</th>
                                    <th class="clickable-header" (click)="addFilter('Fecha')">Fecha</th>
                                    <th class="clickable-header" (click)="addFilter('Evento')">Evento</th>
                                    <th class="clickable-header" (click)="addFilter('Etiquetas')">Etiquetas</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-instance>
                                <tr class="alert-row">
                                    <td><strong>{{ instance.alertId }}</strong></td>
                                    <td class="name-column">
                                        <div class="name" title="{{instance.instanceText}}">
                                            <div>{{instance.instanceText}}</div>
                                        </div>
                                    </td>
                                    <td class="font-12 font-w-600">{{ instance.dateTime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                                    <td class="font-12 font-w-600">{{ instance.action === 'CREATE' ? 'PROBLEM' : 'OK' }}</td>
                                    <td>
                                        <span *ngIf="instance.activeAlarmInstanceTagList && instance.activeAlarmInstanceTagList.length > 0" (mouseenter)="op1.show($event)" (mouseleave)="op1.hide()" style="display:inline-block">
                                            <p-button
                                                label="{{instance.activeAlarmInstanceTagList.length == 1 ? '1 tag' : instance.activeAlarmInstanceTagList.length + ' tags'}}"
                                                size="small"
                                                severity="secondary"
                                                class="font-12 font-w-600"
                                                [rounded]="true"
                                                [text]="true"
                                                [disabled]="!instance.activeAlarmInstanceTagList || instance.activeAlarmInstanceTagList.length == 0"
                                            />
                                        </span>

                                        <p-popover #op1>
                                            <div class="popover-container">
                                                <div class="font-w-600">Tags</div>
                                                <div class="tags-list">
                                                    <div *ngFor="let tag of instance.activeAlarmInstanceTagList" class="tag-item">
                                                        <strong>{{ tag.label }}</strong>: {{ tag.value }}
                                                    </div>
                                                </div>
                                            </div>
                                        </p-popover>
                                    </td>
                                    <td>
                                        <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="info" (onClick)="onClickGoToEditAlert(instance);" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-paginator *ngIf="activeAlarmInstancesTable" 
                            (onPageChange)="onPageChange($event)" 
                            [first]="first" 
                            [rows]="pageSize" 
                            [totalRecords]="activeAlarmInstancesTable.totalInstances" 
                            [showCurrentPageReport]="true"
                            [showPageLinks]="false"
                            [showJumpToPageDropdown]="false"
                            currentPageReportTemplate="{first} a {last} de {totalRecords} elementos"
                            [rowsPerPageOptions]="pageSizeOptions"
                            [showPageLinks]="true"/>
                        <div *ngIf="activeAlarmInstancesTableLoading" style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 425px;">
                            <p-progress-spinner />
                        </div>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </app-accordion>
    </div>
</app-page-wrapper>

<p-dialog [(visible)]="instancesInformationModalVisible" [modal]="false" [closable]="false" [resizable]="false" [showHeader]="false"
    [style]="instancesInformationModalStyle" (click)="$event.stopPropagation();" styleClass="condition-info-dialog">

    <div class="notice c-blue">
        <i class="pi pi-info-circle"></i>
        <div>
            <p>Ejemplos de filtros:</p>
            <ul>
                <li>Id: "711"</li>
                <li>Mensaje: "Anomaly detected in status_code for group:"</li>
                <li>Fecha: "06/03/2026"</li>
                <li>Evento: "OK"</li>
                <li>Etiquetas: "{{ '{' }}"ob":"VIVO", "cdn_protocol":"dash"{{ '}' }}"</li>
            </ul>
        </div>
    </div>
</p-dialog>