.cards-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 24px;

    .card-container {
        flex: 1 1 0;
        width: 100%;
        background-color: white;
        border-radius: 8px;
        border: 1px solid lightgray;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        transition: all 0.3s ease;

        .card-title-description
        {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .card-container-information {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .information-number {
                display: flex;
                flex-direction: row;
                align-items: end;
                gap: 5px;
            }

            .icon-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }

    .card-container-error
    {
        flex: 1 1 0;
        width: 100%;
        background-color: white;
        border-radius: 8px;
        border: 1px solid lightgray;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        transition: all 0.3s ease;

        .card-title-description
        {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    .card-container-disabled {
        flex: 1 1 0;
        width: 100%;
        background-color: lightgray;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        transition: all 0.3s ease;

        .card-title-description
        {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .card-container-information {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .information-number {
                display: flex;
                flex-direction: row;
                align-items: end;
                gap: 5px;
            }

            .icon-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.quick-options-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;

    .quick-options {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 24px;

        .quick-option {
            width: 100%;
            background-color: white;
            border-radius: 8px;
            border: 1px solid lightgray;
            padding: 24px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            cursor: pointer;
            transition: all 0.3s ease;

            .icon-wrapper {
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }

            .title-description-container {
                flex: 1;
                min-width: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center; 
            }
        }

        .quick-option:hover {
            border: 1px solid #2563eb;
        }

        .quick-option-disabled {
            width: 100%;
            background-color: lightgray;
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 24px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            transition: all 0.3s ease;

            .icon-wrapper {
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }

            .title-description-container {
                flex: 1;
                min-width: 0; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center; 
            }
        }
    }
}

.last-24h-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;

    .last-24h {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 16px;
    }
}

// SELECT BUTTON

::ng-deep .custom-select-button .p-button {
    background-color: white;
    color: black;
}

::ng-deep .custom-select-button .p-button.p-highlight {
    background-color: #dbeafe;
    color: #2563eb;
}

// TABLE

::ng-deep .my-table .p-datatable .p-datatable-table-container .p-datatable-table thead th:first-child {
    border-top-left-radius: 8px;
}

::ng-deep .my-table .p-datatable .p-datatable-table-container .p-datatable-table thead th:last-child {
    border-top-right-radius: 8px;
}

::ng-deep .my-table .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

::ng-deep .my-table .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

th {
    background-color: #2563eb;
    color: white;
}

.table-container {
    background-color: white;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;

    .table {
        width: 100%;
    }
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:first-child {
    border-top-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table thead th:last-child {
    border-top-right-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

::ng-deep #dt .p-datatable .p-datatable-table-container .p-datatable-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.th-blue {
    background-color: #2563eb;
    color: white;
}

th {
    white-space: nowrap;
}

.message-column {
    max-width: 256px;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        height: 100%;

        min-width: 0;

        .save-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            height: 100%;

            flex: 0 0 auto;
        }

        .cell-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            flex: 1 1 auto;
            min-width: 0;

            .cell-text {
                flex: 0 1 auto;
                min-width: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .cell-icon {
                flex: 0 0 auto;
                font-size: 0.75rem;
            }
        }
    }
}

.threshold-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: white;
    white-space: nowrap;

    cursor: pointer;

    transition: all 0.3s ease;
}

.threshold-button-container:hover {
    background-color: #f1f1f1;
}

.popover-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conditions-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .condition-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;

            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 16px;

            .condition-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                width: 100%;
                  
                .id-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    background-color: #2563eb;
                    color: white;
                    border-radius: 50%;
                    min-width: 24px;
                    width: 24px;
                    min-height: 24px;
                    height: 24px;
                }

                .select {
                    width: 100%;
                }

                .select-2 {
                    width: 170px;
                }
            }

            .clauses-container {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .clause-container {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    align-items: center;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

.tag-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    white-space: nowrap;

    cursor: pointer;

    transition: all 0.3s ease;
}

.tag-button-container:hover {
    background-color: #f1f1f1;
}

.tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    flex-wrap: wrap;
    max-width: 512px;

    .tag-container {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        background-color: #ebebeb;
        border-radius: 24px;
        padding: 4px 8px;

        white-space: nowrap;

        .remove-icon {
            cursor: pointer;
        }
    }
}

.title-container {
    white-space: nowrap;

    .name {
        max-width: 256px;
        flex: 0 1 auto;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .owner-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .owner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
        }
    }

    .title {
        cursor: pointer;
    }

    .title:hover {
        text-decoration: underline;
    }
}

.endpoints-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .icon {
        border-radius: 50%;
        width: 20px;
        height: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        cursor: help;
    }
}

.notice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 8px;
    background-color: white;
    padding: 16px;

    margin-top: 16px;

    width: 100%;
}

.bottom-panel {
    bottom: 0;
    position: fixed;

    width: 100%;
    background-color: white;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px;

    .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}