<app-page-wrapper>
  <div class="cards-container">
    <div *ngIf="!isLoading && !isError" class="card-container">
      <div class="card-title-description">
        <div class="font-16">Alertas configuradas</div>
        <div class="font-12 text-gray">(Total de alertas creadas en el sistema)</div>
      </div>
      <div class="card-container-information">
        <div class="font-32 font-w-700">{{homePanels?.configuredAlerts}}</div>
        <div class="icon-wrapper bg-blue">
          <i class="pi pi-bell c-blue font-20"></i>
        </div>
      </div>
    </div>

    <p-skeleton *ngIf="isLoading" width="347px" height="146px" borderRadius="8px" />

    <div *ngIf="isError" class="card-container-error">
      <div class="card-title-description">
        <div class="font-16"><i class="pi pi-info-circle">&nbsp;</i>Error al obtener la información</div>
      </div>
    </div>

    <div *ngIf="!isLoading && !isError" class="card-container">
      <div class="card-title-description">
        <div class="font-16">Alertas sin destino</div>
        <div class="font-12 text-gray">(Alertas sin canal de notificación configurado)</div>
      </div>
      <div class="card-container-information">
        <div class="information-number">
          <div class="font-32 font-w-700">{{homePanels?.withoutDestinationAlerts}}</div>
          <div class="font-16">({{homePanels?.withoutDestinationAlertsPercent}}&nbsp;%)</div>
        </div>
        <div class="icon-wrapper bg-red">
          <i class="pi pi-exclamation-triangle font-20 c-red"></i>
        </div>
      </div>
    </div>

    <p-skeleton *ngIf="isLoading" width="347px" height="146px" borderRadius="8px" />

    <div *ngIf="isError" class="card-container-error">
      <div class="card-title-description">
        <div class="font-16"><i class="pi pi-info-circle">&nbsp;</i>Error al obtener la información</div>
      </div>
    </div>

    <div class="card-container-disabled">
      <div class="font-16 text-white">Alertas deshabilitadas</div>
      <div class="font-12 text-white">(Alertas desactivadas que no se dispararán)</div>
      <div class="card-container-information">
        <div class="information-number">
          <div class="font-32 font-w-700 text-white">-</div>
          <!-- <div class="font-16 text-white">(-&nbsp;%)</div> -->
        </div>
        <div class="icon-wrapper bg-gray">
          <i class="pi pi-database font-20 text-white"></i>
        </div>
      </div>
    </div>

    <div class="card-container-disabled">
      <div class="font-16 text-white">Alertas sin datos</div>
      <div class="font-12 text-white">(Alertas con errores en la query o fuentes rotas)</div>
      <div class="card-container-information">
        <div class="information-number">
          <div class="font-32 font-w-700 text-white">-</div>
          <!-- <div class="font-16 text-white">(-&nbsp;%)</div> -->
        </div>
        <div class="icon-wrapper bg-gray">
          <i class="pi pi-database font-20 text-white"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="quick-options-container">
    <div class="font-20 font-w-600">¿Qué revisamos hoy?</div>
    <div class="quick-options">
      <div class="quick-option" (click)="onClickNavigateToCreateAlert()">
        <div class="icon-wrapper bg-blue">
          <i class="pi pi-plus font-20 c-blue"></i>
        </div>
        <div class="title-description-container">
          <div class="font-16">Crear una nueva alerta</div>
          <div class="font-12 text-gray">
            Configura una nueva alerta desde cero basada en tus métricas
          </div>
        </div>
      </div>

      <div class="quick-option" (click)="onClickNavigateToModifyAlert()">
        <div class="icon-wrapper bg-blue">
          <i class="pi pi-cog font-20 c-blue"></i>
        </div>
        <div class="title-description-container">
          <div class="font-16">Gestión de alertas</div>
          <div class="font-12 text-gray">
            Gestiona las alertas existentes en el sistema
          </div>
        </div>
      </div>

      <div class="quick-option" (click)="onClickNavigateToAnalyticsModule()">
        <div class="icon-wrapper bg-blue">
          <i class="pi pi-chart-bar font-20 c-blue"></i>
        </div>
        <div class="title-description-container">
          <div class="font-16">Módulo de analítica</div>
          <div class="font-12 text-gray">
            Accede a un historial detallado de alertas activadas previamente
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="last-24h-container">
    <div *ngIf="!alertDrilldownTableLoading" class="font-20 font-w-600">Alertas lanzadas en las últimas 24h ({{alertDrilldownTable?.length}})</div>

    <p-skeleton *ngIf="alertDrilldownTableLoading" width="375px" height="27px" borderRadius="8px" />

    <div *ngIf="!alertDrilldownTableLoading" class="table-container">
      <p-table *ngIf="!alertDrilldownTableLoading" [value]="alertDrilldownTable" dataKey="label" class="my-table">
        <ng-template #header>
          <tr>
            <th style="width: 5rem"></th>
            <th>Id.</th>
            <th>Alerta</th>
            <th>Saltos totales</th>
            <th>Agrupaciones</th>
            <th>Etiquetas</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-alert let-expanded="expanded">
          <tr class="alert-row" [pRowToggler]="alert">
            <td>
              <p-button type="button" pRipple [text]="true" severity="secondary" [rounded]="true"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td><strong>{{ alert.label }}</strong></td>
            <td class="name-column">
              <div class="name" title="{{alert.alertText}}">
                <div class="ellipsis">{{alert.alertText}}</div>
                <div class="instances font-14 font-w-600">{{alert.children.length}} instancias</div>
              </div>
            </td>
            <td>{{ alert.count }}</td>
            <td style="max-width: 250px;">
              <div class="chips">
                <div class="chip" *ngFor="let agroupation of alert.groupBy; let i = index;"
                  [ngStyle]="{'background-color': pastelChips[i % pastelChips.length]}">
                  {{ agroupation }}
                </div>
              </div>
            </td>
            <td>
              <p-button *ngIf="!alert.tags || alert.tags.length == 0"
                label="{{alert.tags.length == 1 ? '1 tag' : alert.tags.length + ' tags'}}" size="small"
                severity="secondary" class="font-12 font-w-600" [rounded]="true" [text]="true"
                [disabled]="!alert.tags || alert.tags.length == 0" />

              <span *ngIf="alert.tags && alert.tags.length > 0" (mouseenter)="op1.show($event)"
                (mouseleave)="op1.hide()" style="display:inline-block">
                <p-button label="{{alert.tags.length == 1 ? '1 tag' : alert.tags.length + ' tags'}}" size="small"
                  severity="secondary" class="font-12 font-w-600" [rounded]="true" [text]="true"
                  [disabled]="!alert.tags || alert.tags.length == 0" />
              </span>

              <p-popover #op1>
                <div class="popover-container">
                  <div class="font-w-600">Tags</div>
                  <div class="tags-list">
                    <div *ngFor="let tag of alert.tags" class="tag-item">
                      <strong>{{ tag.name }}</strong>: {{ tag.value }}
                    </div>
                  </div>
                </div>
              </p-popover>
            </td>
            <td>
              <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="info"
                (onClick)="onClickGoToEditAlert2(alert);" />
            </td>
          </tr>
        </ng-template>
        <ng-template #expandedrow let-alert>
          <tr *ngFor="let child of alert.children">
            <td></td>
            <td></td>
            <td>
              <div class="ellipsis" title="{{child.label}}">{{child.label}}</div>
            </td>
            <td>{{ child.count }}</td>
            <td>
              <div *ngIf="!child.groupBy">-</div>
            </td>
            <td>

              <p-button *ngIf="!child.tags || (child.tags && getKeysCount(child.tags) == 0)"
                label="{{!child.tags || (child.tags && getKeysCount(child.tags) == 0) ? '0 filtros' : getKeysCount(child.tags) == 1 ? '1 filtro' : getKeysCount(child.tags) + ' filtros'}}"
                size="small" severity="secondary" class="font-12 font-w-600" [rounded]="true" [text]="true"
                [disabled]="!child.tags || getKeysCount(child.tags) == 0" />

              <span *ngIf="child.tags && getKeysCount(child.tags) > 0" (mouseenter)="op2.show($event)"
                (mouseleave)="op2.hide()" style="display: inline-block;">
                <p-button
                  label="{{!child.tags || (child.tags && getKeysCount(child.tags) == 0) ? '0 filtros' : getKeysCount(child.tags) == 1 ? '1 filtro' : getKeysCount(child.tags) + ' filtros'}}"
                  size="small" severity="secondary" class="font-12 font-w-600" [rounded]="true" [text]="true"
                  [disabled]="!child.tags || getKeysCount(child.tags) == 0" />
              </span>

              <p-popover #op2>
                <div class="popover-container">
                  <div class="font-w-600">Filtros</div>
                  <div class="tags-list">
                    <div *ngFor="let tagString of buildKeyValueArray(child.tags)" class="tag-item">
                      {{ tagString }}
                    </div>
                  </div>
                </div>
              </p-popover>
            </td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-skeleton *ngIf="alertDrilldownTableLoading" width="1460px" height="1000px" borderRadius="8px" />

    <div style="width: 100%; height: 100px;"></div>
  </div>

</app-page-wrapper>