.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.create-alert-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .create-alert-container {
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border: 1px solid lightgray;

        .title-description-container {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .alert-types-container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 20px;

            .alert-type-container {
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                border: 1px solid lightgray;
                padding: 24px;
                cursor: pointer;
                transition: all 0.3s ease;

                .icon-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }

            .alert-type-container:hover:not(.selected) {
                border: 1px solid #2563eb;
            }

            .alert-type-container.selected {
                border: 2px solid #2563eb;
            }

            .alert-type-container-disabled {
                width: 100%;
                background-color: lightgray;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                padding: 24px;
                transition: all 0.3s ease;

                .icon-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }

    .threshold-alert-options-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: white;
        padding: 20px;
        border: 1px solid lightgray;
        border-radius: 8px;

        .threshold-alert-options {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 24px;

            .threshold-alert-option {
                width: 100%;
                background-color: white;
                border-radius: 8px;
                border: 1px solid lightgray;
                padding: 24px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 24px;
                cursor: pointer;
                transition: all 0.3s ease;

                .icon-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                    flex-shrink: 0;
                }

                .title-description-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .threshold-alert-option:hover:not(.selected) {
                border: 1px solid #2563eb;
            }

            .threshold-alert-option.selected {
                border: 2px solid #2563eb;
            }
        }

        .buttons-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
    }
}